main {

  // frame principale
  .content-div {
    width: 100%;
    height: auto;
    z-index: 1;

    // singolo spettacolo
    .play {
      margin-bottom: 4em;

      // immagini locandina nel frame principale
      .play-playbill {
        width: 100%;
        height: auto;
        top: -100px;
      }

      .play-playbill-container {
        overflow: hidden;
        height: 300px;
      }

      .card-times {
        overflow: auto;
        max-height: 80px;
        height: 80px;

        .time-badge {
          margin: 0em 0.5em 0.5em 0.5em;
          padding: 0em 1.5em 0em 1.5em;
          cursor: default;
        }

      }

      .play-details-btn {
        padding: 0;
        margin: 0;
        width: 100%;
      }

    }

    // selezione posti
    .buy-seats {
      .buy-btn {
        width:100%;
      }
    }

    // riepilogo acquisti
    .buy-summary {

      .buy-summary-total-container {
        margin-bottom: 0px;
      }

      .buy-btn {
        width:100%;
      }
    }

    // admin: plays
    .plays-list {
      padding: 1em;
      border-radius: 2px;

      @media only screen and (min-width: 600px) {
        height: 800px;
        overflow: auto;
      }
    }


  }
}

// modal dettagli spettacolo
#modal {
  max-height: 80%;
  height: 80%;
  width: 80%;

  .modal-close {
    padding: 0px;
  }


  iframe {
    @media only screen and (max-width: 600px) {
      height: 180px;
    }
    @media only screen and (min-width: 600px) and (max-width: 992px) {
      height: 250px;
    }
    @media only screen and (min-width: 992px) {
      height: 300px;
    }
  }

  .modal-date {
    margin-top: 0;
  }

  .modal-time-badge {
    margin-left: 1em;
    margin-bottom: 0.5em;
  }

}

.admin-elem-active {
  background-color: yellow;
}