#logo {
  max-height: 100%;
  width: 47px;
  margin-top: 5px;
  margin-right: 0.5rem;
}

#title {
  @media only screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
}

.userLoggedLine {
  height: 4px;
  margin: 0px;
  border: 0px;
}

// cart animation
@-webkit-keyframes cart-animation {
  0%   { -webkit-transform: rotate(0deg); }
  25%  { -webkit-transform: rotate(30deg); }
  75%  { -webkit-transform: rotate(-30deg); }
  100% { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes cart-animation {
  0%   { -moz-transform: rotate(0deg); }
  25%  { -moz-transform: rotate(30deg); }
  75%  { -moz-transform: rotate(-30deg); }
  100% { -moz-transform: rotate(0deg); }
}
@-o-keyframes cart-animation {
  0%   { -o-transform: rotate(0deg); }
  25%  { -o-transform: rotate(30deg); }
  75%  { -o-transform: rotate(-30deg); }
  100% { -o-transform: rotate(0deg); }
}
@keyframes cart-animation {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(20deg); }
  75%  { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}



body {

}

main {
  height: 100%;
}

footer {
  margin-top: 0px !important;
}


// used to reduce preloader dimensions to fit in a button
.xsmall {
  width: 25px;
  height: 25px;
}



// nasconde gli spinner per gli input field di tipo number (mese, anno, cvv carta di credito)
#credit_card::-webkit-inner-spin-button,
#credit_card::-webkit-outer-spin-button,
#month::-webkit-inner-spin-button,
#month::-webkit-outer-spin-button,
#year::-webkit-inner-spin-button,
#year::-webkit-outer-spin-button,
#cvv::-webkit-inner-spin-button,
#cvv::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}