@mixin transform-rotate($angle) {
  -webkit-transform: rotate($angle);
  -moz-transform:    rotate($angle);
  -ms-transform:     rotate($angle);
  -o-transform:      rotate($angle);
  transform:         rotate($angle);
}

@mixin display-flex () {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin flex($a, $b, $c) {
  -webkit-box-flex: $a $b $c;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $a $b $c;         /* OLD - Firefox 19- */
  -webkit-flex: $a $b $c;          /* Chrome */
  -ms-flex: $a $b $c;              /* IE 10 */
  flex: $a $b $c;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin flex-direction($direction) {
  -webkit-box-orient: $direction; /* OLD - iOS 6-, Safari 3.1-6 */
  @if $direction==column {
    -webkit-box-orient: vertical; /* OLD - iOS 6-, Safari 3.1-6 */
  }
  -moz-box-flex-direction: $direction;         /* OLD - Firefox 19- */
  -webkit-flex-direction: $direction;          /* Chrome */
  -ms-flex-direction: $direction;              /* IE 10 */
  flex-direction: $direction;
}

#logo {
  max-height: 100%;
  width: 47px;
  margin-top: 5px;
  margin-right: 0.5rem;
}

#title {
  @media only screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
}

.userLoggedLine {
  height: 4px;
  margin: 0px;
  border: 0px;
}

// cart animation
@-webkit-keyframes cart-animation {
  0%   { -webkit-transform: rotate(0deg); }
  25%  { -webkit-transform: rotate(30deg); }
  75%  { -webkit-transform: rotate(-30deg); }
  100% { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes cart-animation {
  0%   { -moz-transform: rotate(0deg); }
  25%  { -moz-transform: rotate(30deg); }
  75%  { -moz-transform: rotate(-30deg); }
  100% { -moz-transform: rotate(0deg); }
}
@-o-keyframes cart-animation {
  0%   { -o-transform: rotate(0deg); }
  25%  { -o-transform: rotate(30deg); }
  75%  { -o-transform: rotate(-30deg); }
  100% { -o-transform: rotate(0deg); }
}
@keyframes cart-animation {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(20deg); }
  75%  { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}


.row {
  // need for firefox (trasform margin in padding)
  margin-bottom: 0px;
  padding-bottom: 20px;
}

body {
  @include display-flex();
  min-height: 100vh;
  @include flex-direction(column);
}

main {
  @include flex(1, 0, auto);
}

// badge numero di spettacoli ne carrelli
.cart-badge {
  position:relative;
  top:-78px;
  left:17px;
  padding:0px 2px 1px 2px;
  border-radius:10px;
  font-weight:bold;
}


footer {
  margin-top: 0px !important;
}


// used to reduce preloader dimensions to fit in a button
.xsmall {
  width: 25px;
  height: 25px;
}

// admin actions fixed button
.admin-actions {
  @media only screen and (min-width: 600px) {
    @include transform-rotate(-90deg);

    .admin-actions-home {
      @include transform-rotate(90deg);
    }
    .admin-action-btn {
      @include transform-rotate(90deg);
    }

  }
}
// nasconde gli spinner per gli input field di tipo number (mese, anno, cvv carta di credito)

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}