<div class="cd-fold-content single-page">
    <img src="../../img/about/davide.jpg">

    <h2>Davide Pedranz</h2>
    <em>Backend master and hard work manager</em>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos accusantium possimus rem assumenda iusto similique
        totam est ipsam voluptatibus mollitia quaerat omnis eius beatae, nihil consectetur. Omnis nisi laborum
        laudantium.</p>

    <p>Cum atque aut culpa facere voluptates, quisquam doloribus laboriosam tenetur exercitationem rem debitis, magnam
        vel ut cumque a eaque? Perferendis nisi temporibus libero earum velit corporis distinctio numquam officia,
        id.</p>

    <p>Soluta inventore, quaerat repudiandae, itaque veniam voluptate accusantium repellendus doloremque alias sint
        temporibus. Autem vel doloribus, ad veritatis ratione, modi nam quos voluptas dignissimos natus voluptatem
        reprehenderit, magnam suscipit architecto.</p>
</div>