/* slider
::-webkit-scrollbar {
  background-color: #b46868;
}

::-webkit-scrollbar-track {
  background-color: #b46868;
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); }

/* this will style the thumb, ignoring the track */
/*
::-webkit-scrollbar-button {
  background-color: #7c2929;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
  background-color: black; }

/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
#logo {
  max-height: 100%;
  width: 50px;
  margin-top: 7px;
  margin-right: 0.5rem; }

main {
  height: 100%; }
  main .content-div {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; }
  main .side-div {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    top: 64px;
    right: 0;
    height: auto;
    width: 0px;
    z-index: 2;
    transition: width 0.3s; }
    main .side-div .hide-side-nav-button-mobile {
      margin-top: 1em; }
    main .side-div .side-cart-content {
      position: absolute;
      top: 11%;
      height: 60%;
      padding-top: 1em;
      overflow-y: scroll; }
      main .side-div .side-cart-content .side-cart-film .cart-item {
        padding: 0.1em; }
        main .side-div .side-cart-content .side-cart-film .cart-item .item-image {
          padding-top: 0.5em; }
        main .side-div .side-cart-content .side-cart-film .cart-item .item-details {
          padding: 0; }
          main .side-div .side-cart-content .side-cart-film .cart-item .item-details .mdi-action-highlight-remove {
            padding: 0.1em; }
          main .side-div .side-cart-content .side-cart-film .cart-item .item-details .row {
            margin: 0;
            padding: 0; }
    main .side-div .side-cart-actions {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      bottom: 0; }
  @media only screen and (min-width: 992px) {
    main .side-div-w {
      width: 30%; } }
  @media only screen and (min-width: 600px) and (max-width: 992px) {
    main .side-div-w {
      width: 50%; } }
  @media only screen and (max-width: 600px) {
    main .side-div-w {
      top: 56px;
      width: 100%; } }
