/* slider */
/*
::-webkit-scrollbar {
  background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-track {
  background-color: #212121;
}

::-webkit-scrollbar-thumb {

  background-color: rgba(0, 0, 0, 0.2);
} /

::-webkit-scrollbar-button {
  background-color: #7c2929;
}

::-webkit-scrollbar-button { //#f0f0f0
  background-color: #f0f0f0;
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background-color: black;
}
*/
#logo {
  max-height: 100%;
  width: 47px;
  margin-top: 5px;
  margin-right: 0.5rem; }

@media only screen and (max-width: 600px) {
  #title {
    font-size: 1.5rem; } }

main {
  height: 100%; }
  main .content-div {
    width: 100%;
    height: auto;
    z-index: 1; }
    main .content-div .plays-locandina {
      min-height: 300px;
      max-height: 300px; }
  main .side-div {
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    top: 64px;
    right: 0px;
    height: auto;
    width: 0px;
    z-index: 2;
    transition: width 0.3s; }
    main .side-div .side-div-menu {
      height: 100%; }
    main .side-div .hide-side-nav-button-mobile-container {
      margin-top: 1em; }
    main .side-div .side-cart {
      height: 100%; }
      main .side-div .side-cart .side-cart-content {
        position: absolute;
        margin-top: 0.5em;
        width: 100%;
        height: 50%;
        overflow-y: scroll;
        z-index: 2; }
        @media only screen and (min-width: 992px) {
          main .side-div .side-cart .side-cart-content {
            height: 70%; } }
        @media only screen and (min-width: 600px) and (max-width: 992px) {
          main .side-div .side-cart .side-cart-content {
            height: 60%; } }
        @media only screen and (max-width: 600px) {
          main .side-div .side-cart .side-cart-content {
            height: 50%; } }
        main .side-div .side-cart .side-cart-content .cart-item {
          padding: 0.1em; }
          main .side-div .side-cart .side-cart-content .cart-item .item-image {
            padding-top: 0.3em;
            padding-left: 0.3em; }
            main .side-div .side-cart .side-cart-content .cart-item .item-image img {
              width: 100%;
              height: 100%; }
          main .side-div .side-cart .side-cart-content .cart-item .item-details {
            padding: 0; }
            main .side-div .side-cart .side-cart-content .cart-item .item-details .mdi-action-highlight-remove {
              padding-right: 0.1em; }
            main .side-div .side-cart .side-cart-content .cart-item .item-details .row {
              margin: 0;
              padding: 0; }
            main .side-div .side-cart .side-cart-content .cart-item .item-details select {
              height: 2em;
              margin-bottom: 0.5em; }
            main .side-div .side-cart .side-cart-content .cart-item .item-details input[type="number"] {
              margin: 0;
              height: 28px;
              margin-top: -30px; }
      main .side-div .side-cart .side-cart-actions {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 1; }
        main .side-div .side-cart .side-cart-actions .side-cart-total {
          margin-bottom: 0em; }
    main .side-div .side-login {
      width: 100%; }
    main .side-div .side-search {
      width: 100%; }
  @media only screen and (min-width: 992px) {
    main .side-div-w {
      width: 30%; } }
  @media only screen and (min-width: 600px) and (max-width: 992px) {
    main .side-div-w {
      width: 50%; } }
  @media only screen and (max-width: 600px) {
    main .side-div-w {
      top: 56px;
      width: 100%;
      overflow-y: auto; } }
  @media screen and (max-width: 600px) {
    main .buy-buttons-div {
      height: 5em;
      max-height: 5em;
      overflow-y: auto; } }

footer {
  margin-top: 0px !important; }

#month::-webkit-inner-spin-button,
#month::-webkit-outer-spin-button,
#year::-webkit-inner-spin-button,
#year::-webkit-outer-spin-button,
#cvv::-webkit-inner-spin-button,
#cvv::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.priceTable tr:nth-child(odd) {
  background-color: #e6e6e6;
  color: #282828; }
.priceTable tr:nth-child(even) {
  background-color: #282828; }
.priceTable td {
  border-radius: 0px;
  height: 1.5em;
  max-height: 1.5em;
  padding: 0px; }
.priceTable tr td:nth-child(1) {
  padding-left: 1em; }
.priceTable tr td:nth-child(2) {
  padding-right: 1em; }

.summaryTable td {
  text-align: center;
  padding: 0; }
.summaryTable th {
  text-align: center; }
.summaryTable span {
  font-size: 0.7em; }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-2deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(2deg); }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(2deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-2deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-2deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(2deg); }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-2deg); } }
.space-top-bottom {
  margin: 100px 20px; }

.popcorn {
  max-width: 248px;
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }
