/* this CSS handle only SVG theatre attributes */
@import url(https://fonts.googleapis.com/css?family=Lato:900);
/* theatre colors */
/* screen colors */
/* seat colors */
/* theatre classes */
.stage_floor {
  fill: #464646; }

.stage_step {
  fill: #282828; }

.stage_screen {
  fill: #A1D5FF; }

.stage_screen_depth {
  fill: #45A3DD; }

.theatre {
  fill: #464646; }

.theatre_row_header_rectangle {
  fill: rgba(70, 70, 70, 0); }

.theatre_row_header_text {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 20px;
  fill: #f0f0f0;
  text-anchor: middle; }

.theatre_column_header_rectangle {
  fill: rgba(70, 70, 70, 0); }

.theatre_column_header_text {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 20px;
  fill: #f0f0f0;
  text-anchor: middle; }

/* seat classes */
.seat_rectangle {
  fill: rgba(70, 70, 70, 0); }

.seat_armchair .seat_back {
  fill: #8d8d99; }
.seat_armchair .seat_arm {
  fill: #bebecc; }
.seat_armchair .seat_sitting {
  fill: #ebebff; }

.seat-unavailable .seat_armchair {
  cursor: not-allowed; }
.seat-unavailable .seat_back {
  fill: #b21b1b; }
.seat-unavailable .seat_arm {
  fill: #e52323; }
.seat-unavailable .seat_sitting {
  fill: #ff5050; }

.seat-selected .seat_back {
  fill: #1bb21b; }
.seat-selected .seat_arm {
  fill: #23e523; }
.seat-selected .seat_sitting {
  fill: #50ff50; }

.seat-hover .seat_back {
  fill: #1c82af; }
.seat-hover .seat_arm {
  fill: #24a8e2; }
.seat-hover .seat_sitting {
  fill: #52caff; }

.seat-best .seat_back {
  fill: #c8b900; }
.seat-best .seat_arm {
  fill: #e8c800; }
.seat-best .seat_sitting {
  fill: #f0cd00; }

.seat-hidden .seat_back {
  fill: transparent; }
.seat-hidden .seat_arm {
  fill: transparent; }
.seat-hidden .seat_sitting {
  fill: transparent; }
