// variables


/* slider */
/*::-webkit-scrollbar {
  background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-track {
  background-color: #212121;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-button { //#f0f0f0
  background-color: #f0f0f0;
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background-color: black;
} */

#logo{
  max-height: 100%;
  width: 50px;
  margin-top: 7px;
  margin-right: 0.5rem;
}

body {

  //display: flex;
  //min-height: 100vh;
  //flex-direction: column;
}

main {
  height: 100%;
  //position: relative;
  //flex: 1 0 auto;


  .content-div {
    position: absolute;
    //background-color: blue;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .side-div {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    top: 64px;
    right: 0;
    height: auto;
    width: 0px; // riportare a 0
    z-index: 2;
    transition: width 0.3s;

    .hide-side-nav-button-mobile {
      margin-top: 1em;
    }

    .side-cart-content {
      position: absolute;
      top: 11%;
      height: 60%;
      padding-top: 1em;
      overflow-y: scroll;


      .side-cart-film {

        .cart-item {
          padding: 0.1em;

          .item-image {
            padding-top: 0.5em;
          }

          .item-details {
            padding: 0;

            .mdi-action-highlight-remove {
              padding: 0.1em;
            }

            .row {
              margin: 0;
              padding: 0;
            }
          }
        }

      }
    }

    .side-cart-actions {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      bottom: 0;
    }

  }

  // valori per aprire la side-nav in varie dimensioni in base al dispositivo
  .side-div-w {

    @media only screen and (min-width: 992px) {
      width: 30%;
    }
    @media only screen and (min-width: 600px) and (max-width: 992px) {
      width: 50%;
    }
    @media only screen and (max-width: 600px) {
      top: 56px;
      width: 100%;
    }
  }


}

