/* this CSS handle only SVG theatre attributes */

@import url(https://fonts.googleapis.com/css?family=Lato:900);

$font: Lato, sans-serif;
$font-size: 20px;
$color-text: rgb(240,240,240);

/* theatre colors */
$color-transparent: rgba(70,70,70,0);
$color-floor: rgb(70,70,70);
$color-step: rgb(40,40,40);

/* screen colors */
$color-screen: #A1D5FF;
$color-screen-depth: #45A3DD;

/* seat colors */
$color-seat-back: rgb(141,141,153);
$color-seat-arm: rgb(190,190,204);
$color-seat-sitting: rgb(235,235,255);

$color-seat-back-unavailable: rgb(178,27,27);
$color-seat-arm-unavailable: rgb(229,35,35);
$color-seat-sitting-unavailable: rgb(255,80,80);

$color-seat-back-selected: rgb(27,178,27);
$color-seat-arm-selected: rgb(35,229,35);
$color-seat-sitting-selected: rgb(80,255,80);

$color-seat-back-hover: rgb(28,130,175);
$color-seat-arm-hover: rgb(36,168,226);
$color-seat-sitting-hover: rgb(82,202,255);

$color-seat-back-best: rgb(200, 185, 0);
$color-seat-arm-best: rgb(232,200,0);
$color-seat-sitting-best: rgb(240, 205, 0);


/* theatre classes */

.stage_floor {
    fill: $color-floor;
}

.stage_step {
    fill: $color-step;
}

.stage_screen {
    fill: $color-screen;
}

.stage_screen_depth {
    fill: $color-screen-depth;
}

.theatre {
    fill: $color-floor;
}

.theatre_row_header_rectangle {
    fill: $color-transparent;
}

.theatre_row_header_text {
    font-family: $font;
    font-weight: 900;
    font-size: $font-size;
    fill: $color-text;
    text-anchor: middle;
}

.theatre_column_header_rectangle {
    fill: $color-transparent;
}

.theatre_column_header_text {
    font-family: $font;
    font-weight: 900;
    font-size: $font-size;
    fill: $color-text;
    text-anchor: middle;
}


/* seat classes */

.seat_rectangle {
    fill: $color-transparent;
}

.seat_armchair {

    .seat_back {
        fill: $color-seat-back;
    }

    .seat_arm {
        fill: $color-seat-arm;
    }

    .seat_sitting {
        fill: $color-seat-sitting;
    }
}

.seat-unavailable {
    .seat_armchair {
        cursor: not-allowed;
    }

    .seat_back {
        fill: $color-seat-back-unavailable;
    }

    .seat_arm {
        fill: $color-seat-arm-unavailable;
    }

    .seat_sitting {
        fill: $color-seat-sitting-unavailable;
    }
}

.seat-selected {

    .seat_back {
        fill: $color-seat-back-selected;
    }

    .seat_arm {
        fill: $color-seat-arm-selected;
    }

    .seat_sitting {
        fill: $color-seat-sitting-selected;
    }
}

.seat-hover {

    .seat_back {
        fill: $color-seat-back-hover;
    }

    .seat_arm {
        fill: $color-seat-arm-hover;
    }

    .seat_sitting {
        fill: $color-seat-sitting-hover;
    }
}

.seat-best {

    .seat_back {
        fill: $color-seat-back-best;
    }

    .seat_arm {
        fill: $color-seat-arm-best;
    }

    .seat_sitting {
        fill: $color-seat-sitting-best;
    }
}

.seat-hidden {

    .seat_back {
        fill: rgba(0,0,0,0);
    }

    .seat_arm {
        fill: rgba(0,0,0,0);
    }

    .seat_sitting {
        fill: rgba(0,0,0,0);
    }
}