<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Vollkorn|Open+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="../css/reset-about.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../css/about.css"> <!-- Resource style -->
	<script src="../js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>About us</title>
</head>
<body>
	<main class="cd-main">
		<ul class="cd-gallery">
			<li class="cd-item">
				<a href="us/davidep.html">
					<div>
						<h2>Davide Pedranz</h2>
					</div>
				</a>
			</li>

			<li class="cd-item">
				<a href="us/andreaz.html">
					<div>
						<h2>Andrea Zorzi</h2>
					</div>
				</a>
			</li>

			<li class="cd-item">
				<a class="dark-text" href="us/matteoz.html">
					<div>
						<h2>Matteo Zeni</h2>
					</div>
				</a>
			</li>

			<li class="cd-item">
				<a href="us/williamsr.html">
					<div>
						<h2>Williams Rizzi</h2>
					</div>
				</a>
			</li>
            
            <li class="cd-item">
				<a href="us/stefanoe.html">
					<div>
						<h2>Stefano Eccher</h2>
					</div>
				</a>
			</li>
            
            <li class="cd-item">
				<a href="us/samuelg.html">
					<div>
						<h2>Samuel Giacomelli</h2>
					</div>
				</a>
			</li>
		</ul> <!-- .cd-gallery -->
	</main> <!-- .cd-main -->

	<div class="cd-folding-panel">
		
		<div class="fold-left"></div> <!-- this is the left fold -->
		
		<div class="fold-right"></div> <!-- this is the right fold -->
		
		<div class="cd-fold-content">
			<!-- content will be loaded using javascript -->
		</div>

		<a class="cd-close" href="#0"></a>
	</div> <!-- .cd-folding-panel -->

<script src="../js/jquery-2.1.1.js"></script>
<script src="../js/about.js"></script> <!-- Resource jQuery -->
</body>
</html>