
<div class="row">
    <div class="col s12 m12 l12 center-align">
        <h2 class="yellow-text text-accent-4">Riepilogo e conferma</h2>
    </div>
</div>

<div class="buy-summary">
    <div class="row white-text"> <!-- tabella riepilogo acquisti -->
        <div class="row">
            <div class="col s12 offset-m1 m10 offset-l1 l10">
                <h4>Biglietti acquistati</h4>
                <div class="row" ng-repeat = "play in buy.data_to_server.cart">
                    <div>
                        <h5 class="yellow-text text-accent-4">{{play.title}} <i ng-show="play._3d" class="mdi-action-3d-rotation"></i></h5>
                        <h6>{{play.time | date: 'dd/MM/yyyy, HH:mm'}}</h6>
                        <table class="summaryTable">
                            <thead>
                            <tr>
                                <th>Tipologia</th>
                                <th>Quantità</th>
                                <th>Prezzo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ticket in play.tickets">
                                <td><span>{{ticket.type}}</span></td>
                                <td><span>{{ticket.number}}</span></td>
                                <td><span>{{ticket.price | currency: "€ "}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row white-text"> <!-- informazioni carta di credito -->
        <div class="col s12 offset-m1 m10 offset-l1 l10">
            <h4>Metodo di pagamento</h4>
            <div class="row"> <!-- messaggio d'errore -->
                <p class="red-text"><i ng-show="ctrl.error_msg" class="mdi-alert-error"></i>&nbsp{{ctrl.error_msg}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-m1 m4 offset-l1 l4">
                <div class="input-field">
                    <input id="credit_card" type="text" length="16" ng-model="ctrl.cd.number">
                    <label for="credit_card">Carta di credito<i class="mdi-action-help tooltipped" data-position="right" data-tooltip="Un numero valido: 4532843091602419"></i></label>
                </div>
            </div>
            <div class="col s12 offset-m1 m5 offset-l2 l4">
                <div class="input-field col s6 m6 l6">
                    <input id="month" type="number" ng-model="ctrl.cd.month">
                    <label class="active" for="month">Mese di scadenza</label>
                </div>
                <div class="input-field col s6 m6 l6">
                    <input id="year" type="number" ng-model="ctrl.cd.year">
                    <label class="active" for="year">Anno di scadenza</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-m1 m4 offset-l1 l4">
                <div class="input-field">
                    <input id="holder" type="text" class="validate" ng-model="ctrl.cd.name">
                    <label for="holder">Intestatario</label>
                </div>
            </div>
            <div class="col s12 offset-m1 m5 offset-l2 l4">
                <div class="input-field">
                    <input id="cvv" type="text" length="4" ng-model="ctrl.cd.cvv">
                    <label for="cvv">CVV<i class="mdi-action-help tooltipped" data-position="right" data-tooltip="Codice di sicurezza posto sul retro della carta di credito"></i></label>
                </div>
            </div>
        </div>
    </div>

    <div class="row white-text"> <!-- totale -->
        <div class="row buy-summary-total-container">
            <div class="col s12 offset-m1 m10 offset-l1 l10">
                <h4 class="col s7 m7 l7">Totale:</h4>
                <h4 class="total col s5 m5 l5 right-align">{{ctrl.importToPay | currency:"€ "}}</h4>
            </div>
        </div>
        <div class="row"> <!-- nota credito accumulato -->
            <div class="col s12 offset-m1 m10 offset-l1 l10">
                <p>Nota: Attualmente hai a disposizione {{user.credit}} € di credito.
                    Parte dell'importo da pagare verrà quindi scalato dal tuo credito.
                    Il totale è stato calcolato tenendo conto del tuo credito accumulato.
                </p>
            </div>
        </div>
    </div>
    <div class="row"> <!-- bottoni -->
        <div class="col s12 offset-m1 m3 offset-l1 l3 center">
            <button ng-click="ctrl.open_modal();" class="btn modal-trigger red white-text waves-effect waves-light buy-btn" type="submit" data-target="modal_buy_cancel">Annulla
                <i class="mdi-navigation-cancel right"></i>
            </button>
        </div>
        <div class="col s12 m4 l4">
            &nbsp
        </div>
        <div class="col s12 m3 l3 center">
            <button ng-click="ctrl.pay()" class="btn green white-text waves-effect waves-light buy-btn" type="submit">Paga
                <i class="mdi-content-send white-text right"></i>

                <div class="buy-loader preloader-wrapper xsmall left" style="margin-top: 6px;">
                    <div class="spinner-layer spinner-blue-only spinner-white-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>

            </button>
        </div>
    </div>
    <div class="row">
    </div>
</div>


<div id="modal_buy_cancel" class="modal">
    <div class="modal-content">
        <h4>Conferma annullamento</h4>
        <p>Sei sicuro di voler interrompere la procedura di acquisto dei biglietti?</p>
    </div>
    <div class="modal-footer">
        <a ng-click="ctrl.close_modal()" class="modal-action waves-effect waves-red btn-flat">No</a>
        <a ng-click="ctrl.cancel_procedure();" class="modal-action waves-effect waves-green btn-flat">Si</a>
    </div>
</div>

<script>
    // init contatore lettere
    $('#credit_card').characterCounter();
    $('#cvv').characterCounter();
    // init tooltip
    $('.tooltipped').tooltip({delay: 50});
</script>