<div>
    <loading loading="ctrl.loading"></loading>

    <div ng-hide="ctrl.loading">
        <div class='row'>

        </div>
        <div class='row center-align white-text'>
            <h5>{{ctrl.status}}</h5>
        </div>
        <div class='row'>

        </div>
        <div class='row'>

        </div>
        <div class="row center-align">
            <a class="btn-large yellow accent-4 white-text" href="#today">HOME<i class="mdi-action-home right"></i></a>
        </div>
        <div class='row'>

        </div>
    </div>

</div>


