<div class="row ">
    <div class="col s12 m12 l12 center-align">
        <h2 class="yellow-text text-accent-4">
            Something went wrong!
        </h2>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12 center-align">
        <h4 class="yellow-text text-accent-4">
            Your popcorns were eaten :(
        </h4>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12 center-align">
        <img class="responsive-img" src="../img/error.svg">
    </div>
</div>
