<div class="row">
    <div class="col s12 m12 l12 center-align">
        <h2 class="yellow-text text-accent-4">Informazioni</h2>
    </div>
</div>

<div class="row white-text">
    <div class="col s12 m12 offset-l1 l4">
        <h3>Orari d'apertura:</h3>
        <ul>
            <li><h5 class="grey-text text-lighten-3">Lunedì - Mercoledì: 16:00 - 23:00</h5></li>
            <li><h5 class="grey-text text-lighten-3">Giovedì chiuso.</h5></li>
            <li><h5 class="grey-text text-lighten-3">Venerdì - Domenica: 16:00 - 01:00</h5></li>
        </ul>
    </div>
    <div class="col s12 m12 offset-l1 l5">
        <ui-gmap-google-map center='{latitude: 46.066500, longitude: 11.150469}' zoom='16'>
            <ui-gmap-marker idKey='0' coords='{latitude: 46.066500, longitude: 11.150469}'></ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</div>

<div class="row white-text">
    <div class="col s12 offset-m1 m10 offset-l1 l10">
        <p>Altre informazioni utili.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
