<div class="row white-text center-align">
    <loading loading="ctrl.loading"></loading>

    <div ng-hide="ctrl.loading">
        <div class="page-title">
            <h3>Il mio profilo</h3>
        </div>

        <div class="user-informations center-align">
            <table class="info-table center-align">
                <tr>
                    <td><p>Nome: </p></td>
                    <td><p>{{ctrl.user.firstName}}</p></td>
                </tr>
                <tr>
                    <td><p>Cognome: </p></td>
                    <td><p>{{ctrl.user.secondName}}</p></td>
                </tr>
                <tr>
                    <td><p>Email: </p></td>
                    <td><p>{{ctrl.user.email}}</p></td>
                </tr>
                <tr>
                    <td><p>Credito residuo: </p></td>
                    <td><p>{{ctrl.user.credit|currency}}</p></td>
                </tr>
            </table>
        </div>
    </div>
</div>