<div>
    <loading loading="ctrl.loading"></loading>

    <div ng-hide="ctrl.loading">

        <div class="row">
            <div class="col s12 m12 l12 center-align">
                <h2 class="yellow-text text-accent-4">Profilo</h2>
            </div>
        </div>

        <div class="row white-text"> <!-- dati utente -->
            <div class="col s12 offset-m1 m10 offset-l1 l10">
                <h4>Dati utente</h4>
            </div>
            <div class="col s12 offset-m1 m5 offset-l1 l3">
                <h6>NOME: {{user.firstName}}</h6>
            </div>
            <div class="col s12 offset-m1 m5 offset-l1 l3">
                <h6>COGNOME: {{user.secondName}}</h6>
            </div>
            <div class="col s12 offset-m1 m5 offset-l1 l3">
                <h6>EMAIL: {{user.email}}</h6>
            </div>
        </div>
        <div class="row"> <!-- cambio password -->
            <div class="col s12 offset-m1 m10 offset-l1 l10 grey darken-3" style="border-radius: 2px;">
                <div class="row white-text">
                    <div class="col s12 m5 l4">
                        <a ng-click="ctrl.pass()" class="white-text waves-effect waves-yellow btn yellow accent-4" style="margin-top:20px;">
                            {{ctrl.passBtn}}<i class="mdi-action-lock right" ng-show="ctrl.passTrigger"></i>
                        </a>
                    </div>
                    <div class="col s12 m7 l8 white-text">
                        <h6 style="margin-top:35px;">{{ctrl.result}}</h6>
                    </div>
                </div>
                <div class="row white-text" ng-show="ctrl.passTrigger">
                    <div ng-show="ctrl.passTrigger" class="input-field col s12 m4 l4">
                        <input id="oldpassword" type="password" class="validate" ng-model="ctrl.oldPass">
                        <label for="oldpassword">Vecchia Password</label>
                    </div>
                    <div ng-show="ctrl.passTrigger" class="input-field col s12 m4 l4">
                        <input id="newpassword" type="password" class="validate" ng-model="ctrl.newPass">
                        <label for="newpassword">Nuova Password</label>
                    </div>
                    <div ng-show="ctrl.passTrigger" class="input-field col s12 m4 l4">
                        <input id="verpassword" type="password" class="validate" ng-model="ctrl.verifyPass">
                        <label for="verpassword">Ripeti Password</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row white-text"> <!-- cronologia acquisti -->
            <div class="col s12 offset-m1 m10 offset-l1 l10">
                <h4>Cronologia acquisti</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-m1 m10 offset-l1 l10 ">
                <ul class="collapsible" data-collapsible="expandable">
                    <li ng-repeat="buy in ctrl.bookings" on-collapsible-repeat>
                        <div class="collapsible-header grey darken-3 white-text">
                            <div class="row">
                                <div class="col s6 m6 l6">
                                    <i class="mdi-action-shopping-basket"></i>ACQUISTO
                                </div>
                                <div class="col s6 m6 l6 right-align">
                                    <span>Data: {{buy.time | date: 'dd/MM/yyyy'}}</span><i class="mdi-hardware-keyboard-arrow-down right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body white">
                            <div class="row">
                                <div class="col s6 m6 l6">
                                    <h5>Credito usato: {{buy.payedWithCredit | currency:"€ "}}</h5>
                                </div>
                                <div class="col s6 m6 l6 right-align">
                                    <h5>Totale: {{ buy.total | currency:"€ "}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <table class="summaryTable">
                                    <thead>
                                    <tr>
                                        <th>Film</th>
                                        <th>Data</th>
                                        <th>Sala</th>
                                        <th>Posto</th>
                                        <th>Tipologia</th>
                                        <th>Prezzo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="ticket in buy.tickets" ng-class="{ 'red-text' : ticket.deleted}">
                                        <td><span>{{ticket.title}}</span></td>
                                        <td><span>{{ticket.time | date: 'dd/MM/yyyy HH:mm'}}</span></td>
                                        <td><span>{{ticket.rid}}</span></td>
                                        <td><span>{{ctrl.intToChar(ticket.x)}}{{ticket.y+1}}</span></td>
                                        <td><span>{{ticket.type}}</span></td>
                                        <td><span>{{ticket.price}}</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <span>Nota: i biglietti in rosso sono stati annullati.</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">

        </div>
        <div class="row white-text"> <!-- credito -->
            <div class="col s12 offset-m1 m10 offset-l1 l10">
                <h4>Credito disponibile: {{user.credit|currency:"€ "}}</h4>
            </div>
        </div>

    </div>



</div>