<div>
    <loading loading="ctrl.loading"></loading>

    <div ng-hide="ctrl.loading">

        <div class="row">
            <div class="col s12 m12 l12 center-align">
                <h2 class="yellow-text text-accent-4">Profilo</h2>
            </div>
        </div>

        <div class="row white-text"> <!-- dati utente -->
            <div class="col s12 offset-m1 m10 offset-l1 l10">
                <h4>Dati utente</h4>
            </div>
            <div class="col s12 offset-m1 m5 offset-l1 l3">
                <h6>Nome: {{ctrl.user.firstName}}</h6>
            </div>
            <div class="col s12 offset-m1 m5 offset-l1 l3">
                <h6>Cognome: {{ctrl.user.secondName}}</h6>
            </div>
            <div class="col s12 offset-m1 m5 offset-l1 l3">
                <h6>Email: {{ctrl.user.email}}</h6>
            </div>

        </div>

        <div class="row white-text"> <!-- cronologia acquisti -->
            <div class="col s12 offset-m1 m10 offset-l1 l10">
                <h4>Cronologia acquisti</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-m1 m10 offset-l1 l10 ">
                <ul class="collapsible" data-collapsible="expandable">
                    <li> <!--TODO  ng-repeat -->
                        <div class="collapsible-header grey darken-3 white-text">
                            <div class="row">
                                <div class="col s6 m6 l6">
                                    <i class="mdi-action-shopping-basket"></i>ACQUISTO
                                </div>
                                <div class="col s6 m6 l6 right-align">
                                    Data: {{ctrl.aaa}}
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body white">
                            <div class="row">
                                <div class="col s6 m6 l6">
                                    <h5>Credito usato: {{ctrl.aaaa|currency:"€ "}}</h5>
                                </div>
                                <div class="col s6 m6 l6 right-align">
                                    <h5>Totale: {{ctrl.aaaaa|currency:"€ "}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <table class="summaryTable">
                                    <thead>
                                    <tr>
                                        <th>Film</th>
                                        <th>Tipologia</th>
                                        <th>Quantità</th>
                                        <th>Prezzo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr> <!-- TODO ng-repaet tabella -->
                                        <td><span>Titolo1</span></td>
                                        <td><span>Normale</span></td>
                                        <td><span>2</span></td>
                                        <td><span>12.50</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>Titolo2</span></td>
                                        <td><span>Normale</span></td>
                                        <td><span>2</span></td>
                                        <td><span>12.50</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <!-- TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST -->
                    <li>
                        <div class="collapsible-header grey darken-3 white-text">
                            <div class="row">
                                <div class="col s6 m6 l6">
                                    <i class="mdi-action-shopping-basket"></i>ACQUISTO
                                </div>
                                <div class="col s6 m6 l6 right-align">
                                    Data: {{ctrl.aaa}}
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body white">
                            <div class="row">
                                <div class="col s6 m6 l6">
                                    <h5>Credito usato: {{ctrl.aaaa|currency:"€ "}}</h5>
                                </div>
                                <div class="col s6 m6 l6 right-align">
                                    <h5>Totale: {{ctrl.aaaaa|currency:"€ "}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <table class="summaryTable">
                                    <thead>
                                    <tr>
                                        <th>Film</th>
                                        <th>Tipologia</th>
                                        <th>Quantità</th>
                                        <th>Prezzo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><span>Titolo1</span></td>
                                        <td><span>Normale</span></td>
                                        <td><span>2</span></td>
                                        <td><span>12.50</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>Titolo2</span></td>
                                        <td><span>Normale</span></td>
                                        <td><span>2</span></td>
                                        <td><span>12.50</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header grey darken-3 white-text">
                            <div class="row">
                                <div class="col s6 m6 l6">
                                    <i class="mdi-action-shopping-basket"></i>ACQUISTO
                                </div>
                                <div class="col s6 m6 l6 right-align">
                                    Data: {{ctrl.aaa}}
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body white">
                            <div class="row">
                                <div class="col s6 m6 l6">
                                    <h5>Credito usato: {{ctrl.aaaa|currency:"€ "}}</h5>
                                </div>
                                <div class="col s6 m6 l6 right-align">
                                    <h5>Totale: {{ctrl.aaaaa|currency:"€ "}}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <table class="summaryTable">
                                    <thead>
                                    <tr>
                                        <th>Film</th>
                                        <th>Tipologia</th>
                                        <th>Quantità</th>
                                        <th>Prezzo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><span>Titolo1</span></td>
                                        <td><span>Normale</span></td>
                                        <td><span>2</span></td>
                                        <td><span>12.50</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>Titolo2</span></td>
                                        <td><span>Normale</span></td>
                                        <td><span>2</span></td>
                                        <td><span>12.50</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>

                    <!-- END TEST END TEST END TEST END TEST END TEST END TEST END TEST -->
                </ul>
            </div>
        </div>

        <!-- TODO spostare -->
        <script>
            $('.collapsible').collapsible({
                accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            });
        </script>


        <div class="row">

        </div>
        <div class="row white-text"> <!-- credito -->
            <div class="col s12 offset-m1 m10 offset-l1 l10">
                <h4>Credito disponibile: {{ctrl.user.credit|currency:"€ "}}</h4>
            </div>
        </div>

    </div>



</div>
