<div class="row">
    <div class="col s12 m12 l12 center-align">
        <h4 class="yellow-text text-accent-4">Recupero Password</h4>
    </div>
</div>

<div class="row white-text" ng-controller="LoginController as ctrl">
    <form class="col s12 offset-m2 m8 offset-l3 l6">

        <div class="row">
            <h5>Inserisci qua sotto l'indirizzo mail con cui ti sei registrato al nostro sito.</h5>
            <h5>Ti verrà recapitata il prima possibile una mail con la procedura per recuperare la tua password.</h5>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" ng-model="ctrl.mailForPassRecovery">
                <label for="email">Email</label>
            </div>
        </div>

        <div class="row">
            <button class="btn-large green waves-effect waves-light offset-s3 col s6" ng-click="ctrl.sendPassRecoveryRequest()">Recupera
                <i class="mdi-content-send white-text right"></i>
            </button>
        </div>

        <div class="row">

        </div>

        <div class="row">
            <h5 id="pass_recovery_message">{{ctrl.rec_pass_msg}}</h5>
        </div>

    </form>
</div>