<div class="row">
    <div class="col s12 m12 l12 center-align">
        <h4 class="yellow-text text-accent-4">Registrazione</h4>
    </div>
</div>

<div class="row white-text">
    <div class="row">
    <form class="col s12 offset-m2 m8 offset-l3 l6">

        <div class="row">
            <div class="input-field">
                <input id="name" type="text" class="validate" ng-model="ctrl.user.firstName">
                <label for="name">Nome</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="surname" type="text" class="validate" ng-model="ctrl.user.secondName">
                <label for="surname">Cognome</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" ng-model="ctrl.user.email">
                <label for="email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" ng-model="ctrl.user.password">
                <label for="password">Password</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light offset-s3 col s6 yellow accent-4 black-text" ng-click="ctrl.submit(ctrl.user)">Registrati
            <i class="mdi-action-description right"></i>
        </button>
    </form>
    </div>
    <div class="row center-align">
        <h6 id="registration_message">{{ctrl.status}}</h6>
    </div>
</div>
<div class="row">

</div>