<div ng-controller="CartController as cc">
    <div ng-repeat="date in ctrl.archive">
        <div class="row">
            <div class="col s12 m12 l12 center-align">
                <h2 class="yellow-text text-accent-4">{{date.date}}</h2>
            </div>
        </div>

        <ul class="row">
            <div class="col s12 m11 l11">
                <li class="col s12 offset-m1 m5 offset-l1 l3 play" ng-repeat="film in date.films">
                    <div class="card">
                        <div class="card-image">
                            <img class="responsive-img play-playbill" ng-src="{{film.playbill}}" alt="Locandina">
                        </div>
                        <div class="card-content grey-text text-darken-4">
                            <span class="card-title black-text truncate">{{film.title}}</span>
                            <div class="card-times">
                                <p>{{film.description}} I am a very simple card. I am good at containing small bits of
                                    information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                        <div class="card-action center-align">
                            <a ng-click="ctrl.setCurrent($parent.$index, $index)" data-target="modal"
                               class="play-details-btn modal-trigger waves-effect waves-blue btn-flat grey-text text-darken-4">
                                <i class="mdi-action-info-outline left"></i>Dettagli</a>
                        </div>
                    </div>
                </li>
            </div>
        </ul>

        <!-- Finestrella dei dettagli e acquista -->
        <div id="modal" class="modal modal-fixed-footer grey-text text-darken-4">
            <div class="modal-content">
                <div class="row">
                    <i class="btn-flat mdi-navigation-close right small modal-close" ng-click="ctrl.closeWindow()"></i>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <h4>{{ctrl.current.title}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l6">
                        <div class="row">
                            <button ng-click="ctrl.showTrailer()" class="btn red darken-1 col s12 m12 l12"><i
                                    class="mdi-maps-local-movies right"></i>{{ctrl.show_trailer_for_current}}
                            </button>
                        </div>
                        <div class="row">
                            <img ng-show="ctrl.show_trailer_for_current == 'Guarda il Trailer'"
                                 class="responsive-img col s12 m12 l12" ng-src="{{ctrl.current.playbill}}"
                                 alt="Locandina">
                            <video ng-hide="ctrl.show_trailer_for_current == 'Guarda il Trailer'"
                                   class="responsive-video col s12 m12 l12" controls>
                                <source ng-src="{{ctrl.current.trailer}}" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="col s12 m12 l6">
                        <h5 class="modal-date">Data: <span>{{ctrl.current.date}}</span></h5>
                        <h5>Descrizione:</h5>
                        <p>{{ctrl.current.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
