<div ng-controller="PlaysController as ctrl">
    <div ng-repeat="date in ctrl.archive">
        <div class="row">
            <h1 class="brand-logo center yellow-text text-accent-4">{{date.date}}</h1>
        </div>

        <ul class="cd-items cd-container">
            <li class="cd-item" ng-repeat="film in date.films">
                <img  ng-src="{{film.playbill}}" alt="Item Preview">
                <a class="cd-trigger" ng-click="ctrl.setCurrent($parent.$index, $index)">{{film.title}}</a>
            </li>
        </ul>

        <div class="cd-quick-view">
            <div class="cd-slider-wrapper">
                <ul class="cd-slider">
                    <li class="selected"><img ng-src="{{ctrl.current.playbill}}" alt="PlayBill"></li>
                </ul>
            </div>

            <div class="cd-item-info">
                <h2>{{ctrl.current.title}}</h2>
                <p>{{ctrl.current.gender}}</p>
                <p>{{ctrl.current.description}}</p>
                <ul class="cd-item-action">
                    <li><a class="btn grey darken-3 yellow-text text-accent-3" ng-click="ctrl.addToCart(ctrl.current)"><i class="mdi-editor-attach-money"></i>Acquistami!</a></li>
                </ul>
            </div>
            <a class="cd-close">Close</a>
        </div>
    </div>

    <script src="../js/jquery-2.1.1.js"></script>
    <script src="../js/velocity.min.js"></script>
    <script src="../js/today.js"></script>
</div>