<div class="white-text">
    <div>
        <div class="row">
            <div class="col s12 m8 l9">
                <h4>{{ctrl.current.title}}</h4>
            </div>
            <div>
                <button class='col s12 m4 l3 dropdown-button btn right grey darken-4 yellow-text text-accent-4' data-activates='buy_dropdown'>
                    ACQUISTA<i class="mdi-action-add-shopping-cart right"></i>
                </button>
                <!-- dropdown acquisto per orari diversi -->
                <ul id='buy_dropdown' class='dropdown-content'>
                            <span ng-repeat="play in ctrl.current.plays track by $index" on-dropdown-repeat>
                                <li class="divider"></li>
                                <li>
                                    <a  ng-click="cc.addToCart(ctrl.current, $index); ctrl.closeWindow();">
                                        <i class="mdi-action-add-shopping-cart right"></i>ORE {{play.time | date: 'HH:mm'}}, SALA {{play.rid}} <i ng-show="play._3d" class="mdi-action-3d-rotation"></i>
                                    </a>
                                </li>
                            </span>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l6">
                <div class="row">
                    <button ng-click="ctrl.showTrailer()" class="btn red darken-1 col s12 m12 l12"><i
                            class="mdi-maps-local-movies right"></i>{{ctrl.show_trailer_for_current}}
                    </button>
                </div>
                <div class="row">
                    <img ng-show="ctrl.show_trailer_for_current == 'Trailer'"
                         class="responsive-img col s12 m12 l12" ng-src="{{ctrl.current.playbill}}"
                         alt="Locandina">
                    <iframe ng-hide="ctrl.show_trailer_for_current == 'Trailer'"
                            class="col s12 m12 l12"
                            id="ytplayer"
                            ng-src="{{trustSrcTrailerUrl(ctrl.current.trailer)}}"
                            frameborder="0"  allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="col s12 m12 l6">
                <h5>Data: <span>{{ctrl.current.date | date: 'dd/MM/yyyy'}}</span></h5>
                <h5>Durata: <span>{{ctrl.current.duration}} minuti</span></h5>
                <h5>Orari:</h5>
                <span class="btn-flat grey darken-4 yellow-text text-accent-4 modal-time-badge" ng-repeat="play in ctrl.current.plays">{{play.time | date: 'HH:mm'}}<i ng-show="play._3d" class="mdi-action-3d-rotation right"></i></span>
                <h5>Descrizione:</h5>

                <p>{{ctrl.current.plot}}</p>
            </div>
        </div>
    </div>
</div>