<div ng-controller="CartController as cc">
    <div ng-repeat="date in playsByDate track by $index">
        <div class="row">
            <div class="col s12 m12 l12 center-align">
                <h2 class="yellow-text text-accent-4">{{date.date | date:'dd/MM/yyyy'}}</h2>
            </div>
        </div>

        <ul class="row">
            <div class="col s12 offset-m1 m10 l12">
                <div ng-repeat="film in date.films track by $index">
                    <li class="col s12 offset-l1 play" ng-class="{'l5 m7' : ($index%2) == ctrl.alternate, 'l4 m5' : ($index%2) != ctrl.alternate}">
                        <!-- alternate in each row the l5/l4 class of a card -->
                        {{($index%2)==0 ? ctrl.alternate = (!(ctrl.alternate)) : true;""}}
                        <div class="card grey darken-3">
                            <div class="card-image play-playbill-container">
                                <img class="responsive-img play-playbill" ng-src="{{film.playbill}}" alt="Locandina">
                            </div>
                            <div class="card-content yellow-text text-accent-4">
                                <span class="card-title yellow-text text-accent-4 truncate">{{film.title}}</span>
                                <div class="card-times">
                                    <div class="col s12 m12 l12 center-align">
                                        <span class="btn-flat grey darken-4 yellow-text text-accent-4 time-badge tooltipped" data-position="top" data-tooltip="Clicca per acquistare" ng-repeat="play in film.plays track by $index" ng-click="cc.addToCart(film, $index)" on-tooltip-repeat>{{play.time | date: 'HH:mm'}}</span>
                                    </div>
                                </div>
                                <h6 class="yellow-text text-accent-4 right-align">{{date.date | date:'dd/MM/yyyy'}}</h6>
                            </div>
                            <div class="card-action center-align">
                                <a ng-click="ctrl.setCurrent($parent.$index, $index)" data-target="modal"
                                   class="play-details-btn modal-trigger waves-effect waves-blue btn-flat grey darken-3 yellow-text text-accent-4">
                                    <i class="mdi-action-info-outline left"></i>Dettagli e Acquista
                                    <i class="mdi-editor-attach-money right"></i></a>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </ul>
    </div>


    <!-- Finestrella dei dettagli e acquista -->
    <div id="modal" class="modal grey-text text-darken-4">
        <div class="modal-content">
            <div class="row">
                <i class="btn-flat mdi-navigation-close right small" ng-click="ctrl.closeWindow()"></i>
            </div>
            <div class="row">
                <div class="col s12 m8 l9">
                    <h4>{{ctrl.current.title}}</h4>
                </div>
                <div>
                    <button class='col s12 m4 l3 dropdown-button btn right grey darken-4 yellow-text text-accent-4' data-activates='buy_dropdown'>
                        ACQUISTA<i class="mdi-action-add-shopping-cart right"></i>
                    </button>
                    <!-- dropdown acquisto per orari diversi -->
                    <ul id='buy_dropdown' class='dropdown-content'>
                            <span ng-repeat="play in ctrl.current.plays track by $index" on-dropdown-repeat>
                                <li class="divider"></li>
                                <li>
                                    <a  ng-click="cc.addToCart(ctrl.current, $index); ctrl.closeWindow();">
                                        <i class="mdi-action-add-shopping-cart right"></i>ORE: {{play.time | date: 'HH:mm'}} SALA: {{play.rid}}
                                    </a>
                                </li>
                            </span>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l6">
                    <div class="row">
                        <button ng-click="ctrl.showTrailer()" class="btn red darken-1 col s12 m12 l12"><i
                                class="mdi-maps-local-movies right"></i>{{ctrl.show_trailer_for_current}}
                        </button>
                    </div>
                    <div class="row">
                        <img ng-show="ctrl.show_trailer_for_current == 'Trailer'"
                             class="responsive-img col s12 m12 l12" ng-src="{{ctrl.current.playbill}}"
                             alt="Locandina">
                        <iframe ng-hide="ctrl.show_trailer_for_current == 'Trailer'"
                                class="col s12 m12 l12"
                                id="ytplayer"
                                ng-src="{{trustSrcTrailerUrl(ctrl.current.trailer)}}"
                                frameborder="0">
                        </iframe>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <h5>Data: <span>{{ctrl.current.date | date: 'dd/MM/yyyy'}}</span></h5>
                    <h5>Durata: <span>{{ctrl.current.duration}} minuti</span></h5>
                    <h5>Orari:</h5>
                    <span class="btn-flat grey darken-4 yellow-text text-accent-4 modal-time-badge" ng-repeat="play in ctrl.current.plays">{{play.time | date: 'HH:mm'}}</span>
                    <h5>Descrizione:</h5>

                    <p>{{ctrl.current.plot}}</p>
                </div>
            </div>
        </div>
    </div>
</div>




