<!DOCTYPE html>
<html lang="it" ng-app="cineweb">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>CineWeb</title>

    <!-- favicon -->
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">

    <!-- CSS  -->
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/stylesheet.css">

    <!-- TODO: move to sass -->
    <link rel="stylesheet" href="css/map.css">
    <link rel="stylesheet" href="css/me.css">

    <!-- JS libs -->
    <script src="lib/jquery-2.1.4.min.js"></script>
    <script src="lib/materialize.min.js"></script>
    <script src="lib/lodash.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/angular-locker.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="lib/angular-google-maps.min.js"></script>
    <script src="lib/snap.svg-min.js"></script>
    <script src="lib/chart.min.js"></script>

    <!-- JS app -->
    <script src="js/app.js"></script>
    <script src="js/map.js"></script>
    <script src="js/services/constants.js"></script>
    <script src="js/services/storage.js"></script>
    <script src="js/services/users.js"></script>
    <script src="js/services/rooms.js"></script>
    <script src="js/services/filmsPlays.js"></script>
    <script src="js/services/prices.js"></script>
    <script src="js/controller/login.js"></script>
    <script src="js/controller/plays.js"></script>
    <script src="js/controller/cart.js"></script>
    <script src="js/controller/tab.js"></script>
    <script src="js/controller/registration.js"></script>
    <script src="js/controller/me.js"></script>
    <script src="js/controller/adminUsers.js"></script>
    <script src="js/controller/adminFilms.js"></script>
    <script src="js/controller/adminPrices.js"></script>
    <script src="js/controller/adminPlays.js"></script>
    <script src="js/controller/adminRooms.js"></script>
    <script src="js/controller/statsController.js"></script>
    <script src="js/controller/confirm.js"></script>
    <script src="js/controller/reset.js"></script>
    <script src="js/controller/buy.js"></script>
</head>

<body ng-controller="TabController as tab">
<div class="navbar-fixed">
    <nav class="black" role="navigation" id="header-navbar">
        <div class="nav-wrapper">
            <a id="title" href="#home" class="center brand-logo yellow-text text-accent-4"><img id="logo" class="left" src="img/logo.png">CineWeb</a>
            <ul class="left hide-on-med-and-down">
                <li><a class="yellow-text text-accent-4" ng-click="tab.closeTab()" href="#today">Oggi al Cinema</a></li>
                <li><a class="yellow-text text-accent-4" ng-click="tab.closeTab()" href="#soon">Prossimamente</a></li>
                <li><a class="yellow-text text-accent-4" ng-click="tab.closeTab()" href="#info">Informazioni</a></li>
            </ul>

            <ul class="right hide-on-med-and-down">
                <li><a class="yellow-text text-accent-4" ng-click="tab.setTab(1)" style="height: 64px;"><i class="cart-icon mdi-action-shopping-cart"></i>
                    <span ng-hide="cart.length == 0" class="cart-badge grey darken-3 white-text">&nbsp;{{cart.length}}&nbsp;</span></a></li>
                <li><a class="yellow-text text-accent-4" ng-click="tab.setTab(2)"><i class="mdi-action-account-circle" style="height:60px"></i></a><hr ng-show="isUserLogged" class ="userLoggedLine green"></li>
            </ul>

            <ul id="nav-mobile" class="side-nav grey darken-4">

                <li><a class="yellow-text text-accent-4" ng-click="tab.closeTab()" href="#today">Oggi</a></li>
                <li><a class="yellow-text text-accent-4" ng-click="tab.closeTab()" href="#soon">Programmazione</a></li>
                <li><a class="yellow-text text-accent-4" ng-click="tab.closeTab()" href="#info">Informazioni</a></li>
                <li><a class="yellow-text text-accent-4" ng-click="tab.setTab(1)"><i class="cart-icon mdi-action-shopping-cart left"></i>Carrello</a></li>
                <li><a class="yellow-text text-accent-4" ng-click="tab.setTab(2)"><i class="mdi-action-account-circle left"></i>Accedi</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse yellow-text text-accent-4"><i class=" mdi-navigation-menu"></i></a>
            <a data-activates="nav-mobile" class="button hide-on-large-only right" ng-click="tab.setTab(1)"><i class="cart-icon yellow-text text-accent-4 mdi-action-shopping-cart"></i></a>
        </div>
    </nav>
</div>

<!-- here the main content -->
<main class="grey darken-4" id="main-content">
    <div ng-click="tab.closeTab()" class="content-div grey darken-4" ng-view>

    </div>

    <div class="side-div grey darken-3 white-text">
        <!-- Only Mobile: bottone per chiudere la side-div-->
        <div class="row hide-side-nav-button-mobile-container hide-on-med-and-up">
            <button ng-click="tab.closeTab();" class="btn hide-on-med-and-up col offset-s1 s10 offset-m1 m10 yellow accent-4"><i class="mdi-navigation-arrow-back left"></i>Torna indietro</button>
        </div>
        <ul class="side-div-container">
            <li ng-controller="CartController as cc" class="side-cart side-nav-element" ng-show="tab.isSet(1)">
                <div class="side-cart-content row"> <!-- Contenuto carrello -->
                    <ul  class="cart-items col s12 m12 l12"> <!-- lista dei film acquistati -->
                        <li ng-repeat="film in cart track by $index" class="cart-item row grey darken-4"> <!-- singolo film acquistato (oggetto da duplicare) -->
                            <div class="item-image col s4 m4 l4"> <!-- locandina -->
                                <img class="responsive-img" ng-src="{{film.playbill}}" alt="locandina" />
                            </div>
                            <div class="item-details col s8 m8 l8"> <!-- titolo, data, doropdowns -->
                                <div class="row">
                                    <div class="col s9 m9 l9">
                                        <h5>{{film.title}}</h5> <!-- titolo -->
                                        <h6>{{film.date}}, {{film.time}}</h6> <!-- data -->
                                    </div>
                                    <i ng-click="cc.removeFromCart($index)" class="col s3 m3 l3 mdi-action-highlight-remove small right-align"></i>
                                </div>
                                <div class="col s12 m12 l12 item-ticket-counter-container">
                                    <p>Rimangono ancora: 6 biglietti.</p> <!-- TODO ng-model con i max biglietti in cart.film -->
                                </div>
                                <div class="row item-ticket-labels">
                                    <div class="col s7 m7 l7">
                                        <label>Tipologia</label>
                                    </div>
                                    <div class="col offset-s1 s4 offset-m1 m4 offset-l1 l4">
                                        <label>Quantità</label>
                                    </div>
                                </div>
                                <div ng-repeat="drop in cart[$index].tickets track by $index" class="row"> <!-- dropdowns -->
                                    <div class="col s7 m7 l7"> <!-- dropdown tipologia biglietto -->
                                        <select class="browser-default black-text" ng-model="cart[$parent.$index].tickets[$index].type" ng-change="cc.updateTotal()" >
                                            <option ng-repeat="ticket in tickets" value="{{ticket.type}}">{{ticket.type}}</option>
                                            <!--
                                            <option value="normale" selected>Normale</option>
                                            <option value="ridotto">Ridotto</option>
                                            <option value="militari">Militari</option>
                                            <option value="disabili">Disabili</option>
                                            -->
                                        </select>
                                    </div>
                                    <div class="col offset-s1 s4 offset-m1 m4 offset-l1 l4"> <!-- dropdown quantità biglietti -->
                                        <input ng-model="cart[$parent.$index].tickets[$index].number" ng-change="cc.updateTotal()" class="center-align" type="number" value="" min="0">
                                    </div>
                                </div>


                                <div class="row"> <!-- pulsante di aggiunta tipologia -->
                                    <a ng-click="cc.addDropDown($index)" class="col s12 m12 l12  white-text waves-effect waves-yellow btn-flat center-align">Aggiungi tipologia</a>
                                </div>
                            </div>
                        </li>  <!-- END singolo film acquistato -->
                    </ul> <!-- END lista acquisti -->

                </div>
                <div class="side-cart-actions row"> <!-- div in fondo con bottone compra e totale -->
                    <div class="side-cart-total row">
                        <h5 class="col s7 m7 l7">Totale:</h5>
                        <h5 class="total col s5 m5 l5 right-align">{{total | currency:"€ "}}</h5>
                    </div>
                    <div>
                        <button ng-hide="cartLength() == 0" ng-click="cc.proceed(); tab.closeTab();" id="btn-go-to-buy" class="btn-large green white-text col offset-s1 s10 offset-m1 m10 offset-l1 l10">Prosegui
                            <i class="mdi-navigation-chevron-right right"></i>

                            <div class="cart-loader preloader-wrapper small left" style="margin-top: 9px;">
                                <div class="spinner-layer spinner-blue-only spinner-white-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </li>
            <li class="side-login side-nav-element" ng-show="tab.isSet(2)">
                <ul ng-controller="LoginController as c" class="row grey darken-3">
                    <li ng-hide="isUserLogged" class="col offset-s1 s10 offset-m1 m10 offset-l1 l10"> <!-- login page -->
                        <h4>Login</h4>
                        <h6 class="red-text">{{loginError}}</h6>
                        <form>
                            <div class="input-field">
                                <i class="mdi-action-account-circle prefix"></i>
                                <input id="user" type="text" ng-model="c.email">
                                <label for="user" class="white-text">Nome Utente</label>
                            </div>
                            <div class="input-field">
                                <i class="mdi-action-lock prefix"></i>
                                <input id="pass" type="password" ng-model="c.pass">
                                <label for="pass" class="white-text">Password</label>
                            </div>
                            <div class="row">
                                <a  ng-click="c.losePass(); tab.closeTab()" class="yellow-text text-accent-4" type="submit" name="forgot" href="">Password dimenticata? Clicca qui.</a>
                            </div>
                            <div class="row">
                                <button ng-click="c.setAfterLogin('normal'); c.login(c.email, c.pass);" class="col s12 m12 l12 btn-large green white-text waves-effect waves-light" type="submit" name="login">Login

                                    <i class="mdi-content-send white-text right"></i>

                                    <div class="login-loader preloader-wrapper small left" style="margin-top: 9px;">
                                        <div class="spinner-layer spinner-blue-only spinner-white-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>

                                </button>
                            </div>
                            <div class="row">
                                <button ng-click="c.toRegister(); tab.closeTab()" class="col s12 m12 l12 btn yellow accent-4 white-text waves-effect waves-light" type="submit" name="register">Registrati
                                    <i class="mdi-action-description white-text right"></i>
                                </button>
                            </div>
                        </form>
                    </li>
                    <li ng-show="isUserLogged" class="col offset-s1 s10 offset-m1 m10 offset-l1 l10"> <!-- already logged page -->
                        <div class="row">
                            <div class="col s5 m5 l5">
                                <button ng-click="c.logout()" class="btn red white-text">Logout</button>
                            </div>
                            <div class="col s7 m7 l7">
                                <h6 class="red-text">{{loginError}}</h6>
                            </div>
                        </div>
                        <h4>Benvenuto</h4>
                        <h5>{{user.name}}</h5>
                        <h6>{{user.email}}</h6>
                        <div class="row btn-your-data-container">
                            <button ng-click="c.toUserArea(); tab.closeTab();" class="btn col s12 m12 l12 yellow accent-4 black-text waves-effect waves-light"><i class="mdi-action-assignment right"></i>I tuoi dati</button>
                        </div>
                        <div class="row btn-your-data-container">
                            <button ng-show="user.role == 'admin'"  ng-click="c.toDashboard(); tab.closeTab();" class="btn col s12 m12 l12 yellow accent-4 black-text waves-effect waves-light"><i class="mdi-av-web right"></i>Dashboard</button>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</main>

<footer class="page-footer grey darken-3" ng-click="tab.closeTab()">
    <div class="container yellow-text text-accent-4">
        <div class="row">
            <div class="col s12 m6 l6">
                <h5 class="yellow-text text-accent-4">CineWeb</h5>
                <h6 class="yellow-text text-accent-4">Via di Qua 23, Trento - 38100, Italia.</h6>
                <h6 class="yellow-text text-accent-4">Telefono: 0461 63 7231</h6>
            </div>
            <div class="col s12 offset-m1 m5 offset-l2 l4 right-align">
                <h5 class="yellow-text text-accent-4">Orari</h5>
                <ul>
                    <li><h6 class="yellow-text text-accent-4" >Lunedì - Mercoledì: 16:00 - 23:00</h6></li>
                    <li><h6 class="yellow-text text-accent-4" >Giovedì chiuso.</h6></li>
                    <li><h6 class="yellow-text text-accent-4" >Venerdì - Domenica: 16:00 - 01:00</h6></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright black">
        <div class="container yellow-text text-accent-4">
            © 2015 TrentoLeaf+
            <a class="yellow-text text-accent-4 right" href="partials/about.html">About Us</a>
        </div>
    </div>
</footer>

<!-- Floating button amministratore-->
<div ng-show="user.role == 'admin'"  class="admin-actions fixed-action-btn" style="bottom: 15px; right: 25px;">
    <a class="admin-actions-home btn-floating btn-large yellow accent-4">
        <i class="medium mdi-action-settings black-text"></i>
    </a>

    <ul>
        <li class="admin-action-btn"><a class="btn-floating red" href="#admin/films"><i class="mdi-maps-local-movies"></i></a></li>
        <li class="admin-action-btn"><a class="btn-floating teal" href="#admin/plays"><i class="mdi-av-videocam"></i></a></li>
        <li class="admin-action-btn"><a class="btn-floating green" href="#admin/rooms"><i class="mdi-maps-local-convenience-store"></i></a></li>
        <li class="admin-action-btn"><a class="btn-floating blue" href="#admin/prices"><i class="mdi-maps-local-atm"></i></a></li>
        <li class="admin-action-btn"><a class="btn-floating orange" href="#admin/users"><i class="mdi-social-person"></i></a></li>
        <li class="admin-action-btn"><a class="btn-floating pink lighten-1" href="#admin/stats"><i class="mdi-social-poll"></i></a></li>
    </ul>
</div>

</body>
</html>
