<div>
    <div class="row">
        <div class="col s12 m12 l12 center-align">
            <h2 class="yellow-text text-accent-4">Pannello di controllo amministratore</h2>
        </div>
    </div>

    <ul class="row">
        <div class="col s12 m11 l11">

            <li class="col s12 offset-m1 m5 offset-l1 l3">
                <div class="card white center-align">

                    <div class="card-content center-align">
                        <span class="card-title grey-text text-darken-4">Films</span>
                    </div>

                    <div class="card-action">
                        <a class="medium grey-text text-darken-4 waves-effect waves-green" href="#admin/films">
                            <i class="medium mdi-av-movie"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="col s12 offset-m1 m5 offset-l1 l3">
                <div class="card white center-align">

                    <div class="card-content center-align">
                        <span class="card-title grey-text text-darken-4">Proiezioni</span>
                    </div>

                    <div class="card-action">
                        <a class="medium grey-text text-darken-4 waves-effect waves-green" href="#admin/plays">
                            <i class="medium mdi-maps-local-movies"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="col s12 offset-m1 m5 offset-l1 l3">
                <div class="card white center-align">

                    <div class="card-content center-align">
                        <span class="card-title grey-text text-darken-4">Sale</span>
                    </div>

                    <div class="card-action">
                        <a class="medium grey-text text-darken-4 waves-effect waves-green" href="#admin/rooms">
                            <i class="medium mdi-image-panorama"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="col s12 offset-m1 m5 offset-l1 l3">
                <div class="card white center-align">

                    <div class="card-content center-align">
                        <span class="card-title grey-text text-darken-4">Prezzi</span>
                    </div>

                    <div class="card-action">
                        <a class="medium grey-text text-darken-4 waves-effect waves-green" href="#admin/prices">
                            <i class="medium mdi-editor-attach-money"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="col s12 offset-m1 m5 offset-l1 l3">
                <div class="card white center-align">

                    <div class="card-content center-align">
                        <span class="card-title grey-text text-darken-4">Utenti</span>
                    </div>

                    <div class="card-action">
                        <a class="medium grey-text text-darken-4 waves-effect waves-green" href="#admin/users">
                            <i class="medium mdi-social-person"></i>
                        </a>
                    </div>
                </div>
            </li><li class="col s12 offset-m1 m5 offset-l1 l3">
            <div class="card white center-align">

                <div class="card-content center-align">
                    <span class="card-title grey-text text-darken-4">Statistiche</span>
                </div>

                <div class="card-action">
                    <a class="medium grey-text text-darken-4 waves-effect waves-green" href="#admin/stat">
                        <i class="medium mdi-social-poll"></i>
                    </a>
                </div>
            </div>
        </li>


        </div>
    </ul>
</div>

