<ul class="row">
    <div class="col s12 m11 l11">

        <li class="col s12 offset-m1 m5 offset-l1 l3 play">
            <div class="card">
                <div class="card-content grey-text text-darken-4 center-align">
                    <span>Films</span>
                </div>
                <div class="card-action center-align">
                    <a class="play-details-btn modal-trigger waves-effect waves-blue btn-flat grey-text text-darken-4" href="#admin/films">
                        <i class="large mdi-av-movie"></i></a>
                </div>
            </div>
        </li>

        <li class="col s12 offset-m1 m5 offset-l1 l3 play">
            <div class="card">
                <div class="card-content grey-text text-darken-4 center-align">
                    <span>Proiezioni</span>
                </div>
                <div class="card-action center-align">
                    <a class="play-details-btn modal-trigger waves-effect waves-blue btn-flat grey-text text-darken-4" href="#admin/plays">
                        <i class="large mdi-av-videocam"></i></a>
                </div>
            </div>
        </li>

        <li class="col s12 offset-m1 m5 offset-l1 l3 play">
            <div class="card">
                <div class="card-content grey-text text-darken-4 center-align">
                    <span>Sale</span>
                </div>
                <div class="card-action center-align">
                    <a class="play-details-btn modal-trigger waves-effect waves-blue btn-flat grey-text text-darken-4" href="#admin/rooms">
                        <i class="large mdi-image-panorama"></i></a>
                </div>
            </div>
        </li>

        <li class="col s12 offset-m1 m5 offset-l1 l3 play">
            <div class="card">
                <div class="card-content grey-text text-darken-4 center-align">
                    <span>Prezzi</span>
                </div>
                <div class="card-action center-align">
                    <a class="play-details-btn modal-trigger waves-effect waves-blue btn-flat grey-text text-darken-4" href="#admin/prices">
                        <i class="large mdi-editor-attach-money"></i></a>
                </div>
            </div>
        </li>

        <li class="col s12 offset-m1 m5 offset-l1 l3 play">
            <div class="card">
                <div class="card-content grey-text text-darken-4 center-align">
                    <span>Utenti</span>
                </div>
                <div class="card-action center-align">
                    <a class="play-details-btn modal-trigger waves-effect waves-blue btn-flat grey-text text-darken-4" href="#admin/users">
                        <i class="large mdi-social-person"></i></a>
                </div>
            </div>
        </li>

        <li class="col s12 offset-m1 m5 offset-l1 l3 play">
            <div class="card">
                <div class="card-content grey-text text-darken-4 center-align">
                    <span>Statistiche</span>
                </div>
                <div class="card-action center-align">
                    <a class="play-details-btn modal-trigger waves-effect waves-blue btn-flat grey-text text-darken-4" href="#admin/stats">
                        <i class="large mdi-social-poll"></i></a>
                </div>
            </div>
        </li>

    </div>
</ul>