<div>
    <div class="row">
        <div class="col s12 m12 l12 center-align">
            <h2 class="yellow-text text-accent-4">Pannello di controllo amministratore</h2>
        </div>
    </div>
    <div class="row">
        <div class="center-align">
            <a class="btn waves-effect waves-light orange accent-3 white-text" href="" ng-click="ctrl.fuffa()"><i class="mdi-file-cloud"></i> CARICA DATI DI PROVA<i class="mdi-file-cloud"></i></a>
        </div>
    </div>

    <ul class="row">
        <div class="col s12 m11 l11">

            <li class="col s12 offset-m1 m5 offset-l1 l3">
                <div class="card white center-align">

                    <div class="card-content center-align">
                        <h2 class="card-title grey-text text-darken-4">Films</h2>
                    </div>

                    <div class="card-action">
                        <a class="medium grey-text text-darken-4 waves-effect waves-red" href="#admin/films">
                            <i class="large mdi-maps-local-movies"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="col s12 offset-m1 m5 offset-l1 l3">
                <div class="card white center-align">

                    <div class="card-content center-align">
                        <h2 class="card-title grey-text text-darken-4">Proiezioni</h2>
                    </div>

                    <div class="card-action">
                        <a class="medium grey-text text-darken-4 waves-effect waves-teal" href="#admin/plays">
                            <i class="large mdi-av-videocam"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="col s12 offset-m1 m5 offset-l1 l3">
                <div class="card white center-align">

                    <div class="card-content center-align">
                        <h2 class="card-title grey-text text-darken-4">Sale</h2>
                    </div>

                    <div class="card-action">
                        <a class="medium grey-text text-darken-4 waves-effect waves-green" href="#admin/rooms">
                            <i class="large mdi-maps-local-convenience-store"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="col s12 offset-m1 m5 offset-l1 l3">
                <div class="card white center-align">

                    <div class="card-content center-align">
                        <h2 class="card-title grey-text text-darken-4">Prezzi</h2>
                    </div>

                    <div class="card-action">
                        <a class="medium grey-text text-darken-4 waves-effect waves-teal" href="#admin/prices">
                            <i class="large mdi-maps-local-atm"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="col s12 offset-m1 m5 offset-l1 l3">
                <div class="card white center-align">

                    <div class="card-content center-align">
                        <h2 class="card-title grey-text text-darken-4">Utenti</h2>
                    </div>

                    <div class="card-action">
                        <a class="medium grey-text text-darken-4 waves-effect waves-orange" href="#admin/users">
                            <i class="large mdi-social-person"></i>
                        </a>
                    </div>
                </div>
            </li><li class="col s12 offset-m1 m5 offset-l1 l3">
            <div class="card white center-align">

                <div class="card-content center-align">
                    <h2 class="card-title grey-text text-darken-4">Statistiche</h2>
                </div>

                <div class="card-action">
                    <a class="medium grey-text text-darken-4 waves-effect waves-purple" href="#admin/stats">
                        <i class="large mdi-social-poll"></i>
                    </a>
                </div>
            </div>
        </li>


        </div>
    </ul>
</div>

