<div class="row white-text center-align">
    <div class="row">
        <div class="col s12 m12 l12 center-align">
            <h2 class="yellow-text text-accent-4">Modifica Film</h2>
        </div>
    </div>

    <div class="row center-align">
        <h6 id="film_edit_message">{{ctrl.status}}</h6>
    </div>

    <div class="row">
        <form class="col s12 m8 offset-m2 l6 offset-l3 center-align">
            <div class="row">
                <div class="input-field">
                    <input id="title" type="text" ng-model="ctrl.currentFilm.title">
                    <label class="active" for="title">Titolo</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="genre" type="text" ng-model="ctrl.currentFilm.genre">
                    <label class="active" for="genre">Genere</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="trailer" type="text" ng-model="ctrl.currentFilm.trailer">
                    <label class="active" for="trailer">Trailer</label>
                </div>
            </div>
            <div class="row">
                <iframe class="col s12 m12 l12"
                        id="ytplayer" type="text/html"
                        ng-src="{{trustSrcTrailerUrl(ctrl.currentFilm.trailer)}}"
                        frameborder="0">
                </iframe>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="playbill" type="text" ng-model="ctrl.currentFilm.playbill">
                    <label class="active" for="playbill">Locandina</label>
                </div>
            </div>
            <div class="row">
                <img class="col s12 m12 l12" ng-src="{{ctrl.currentFilm.playbill}}" alt="Locandina non trovata">
            </div>
            <div class="row">
                <div class="input-field">
                    <textarea id="plot" class="materialize-textarea" ng-model="ctrl.currentFilm.plot"></textarea>
                    <label class="active" for="plot">Trama</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="duration" type="number" ng-model="ctrl.currentFilm.duration">
                    <label class="active" for="duration">Durata</label>
                </div>
            </div>


            <div class="section">
                <a class="btn waves-effect waves-light yellow accent-4 black-text" href="#admin/films">INDIETRO
                    <i class="mdi-navigation-arrow-back left"></i>
                </a>
                <a ng-click="ctrl.save()" class="btn waves-effect waves-light green black-text" href="">MODIFICA
                    <i class="mdi-content-send right"></i>
                </a>
            </div>
        </form>
    </div>
</div>