<div class="row white-text center-align">
    <div class="row">
        <div class="col s12 m12 l12 center-align">
            <h2 class="yellow-text text-accent-4">Modifica Utente</h2>
        </div>
    </div>
    <h4 class="white-text" ng-show="hidden">{{ctrl.currentUser | json}}</h4>

    <div class="row center">

        <form class="col m6 offset-m3">

            <div class="input-field center col m12">
                <input id="firstName" type="text" ng-model="ctrl.currentUser.firstName">
                <label class="active" for="firstName">Nome</label>
            </div>
            <div class="input-field center col m12">
                <input id="secondName" type="text" ng-model="ctrl.currentUser.secondName">
                <label class="active" for="secondName">Cognome</label>
            </div>
            <div class="input-field center col m12">
                <input id="credit" type="number" ng-model="ctrl.currentUser.credit">
                <label class="active" for="credit">Credito</label>
            </div>

            <div class="switch">
                <label>
                    Disabilitato
                    <input type="checkbox" ng-model="ctrl.currentUser.enabled">
                    <span class="lever"></span>
                    Abilitato
                </label>
            </div>

            <div class="section">
                <a class="btn waves-effect waves-light yellow accent-4 black-text" href="#admin/users">INDIETRO
                    <i class="mdi-navigation-arrow-back left"></i>
                </a>
                <a ng-click="ctrl.save()" class="btn waves-effect waves-light green black-text" href="">MODIFICA
                    <i class="mdi-content-send right"></i>
                </a>
            </div>
        </form>
    </div>
</div>