<div class="row white-text">
    <div class="col s12 m12 l12">
        <div class="row">
            <h2 class="yellow-text text-accent-4 center-align">Films</h2>
        </div>
    </div>

    <div ng-show="ctrl.loading" class="center-align">
        <img src="../../img/popcorn.svg" class="popcorn" alt="Loading"/>
        <h3 class="yellow-text text-accent-4">Caricamento in corso...</h3>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <div ng-hide="ctrl.loading">
                <table class="bordered center-align responsive-table">
                    <thead>
                    <tr>
                        <td><a class="yellow-text text-accent-4" href="">Fid</a></td>
                        <td><a class="yellow-text text-accent-4" href="">Titolo</a></td>
                        <td><a class="yellow-text text-accent-4" href="">Genere</a></td>
                        <td><a class="yellow-text text-accent-4" href="">Trailer</a></td>
                        <td><a class="yellow-text text-accent-4" href="">Locandina</a></td>
                        <td><a class="yellow-text text-accent-4" href="">Trama</a></td>
                        <td><a class="yellow-text text-accent-4" href="">Durata</a></td>
                        <td><a class="yellow-text text-accent-4" href="">Cancella</a></td>
                        <td><a class="yellow-text text-accent-4" href="">Modifica</a></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="white-text" ng-repeat="f in ctrl.films">
                        <td>{{f.fid}}</td>
                        <td>{{f.title}}</td>
                        <td>{{f.genre}}</td>
                        <td>{{f.trailer}}</td>
                        <td>{{f.playbill}} €</td>
                        <td class="truncate">{{f.plot}}</td>
                        <td>{{f.duration}}</td>

                        <td>
                            <a ng-click="" class="modal-trigger" data-target="modal_deleteAgree"><i class="red-text mdi-action-delete"></i></a>
                        </td>
                        <td>
                            <a href=""><i class="yellow-text mdi-action-assignment"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="section center-align">
        <div class="row">
            <a class="btn waves-effect waves-light yellow accent-4 black-text" href="#admin/films/new">NUOVO FILM
                <i class="mdi-image-movie-creation"></i>
            </a>
        </div>
    </div>
</div>