<div class="row white-text">
    <div class="col s12 m12 l12">
        <div class="row">
            <h2 id="page_title" class="yellow-text text-accent-4 center-align small">Films</h2>
        </div>
    </div>

    <div class="row center-align">
        <h6 id="film_message">{{ctrl.status}}</h6>
    </div>

    <div ng-show="ctrl.loading" class="center-align">
        <img src="../../img/popcorn.svg" class="popcorn" alt="Loading"/>
        <h3 class="yellow-text text-accent-4">Caricamento in corso...</h3>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <div ng-hide="ctrl.loading">
                <table class="adminTable bordered centered responsive-table">
                    <thead>
                    <tr>
                        <th><a class="yellow-text text-accent-4" href="">Fid</a></th>
                        <th><a class="yellow-text text-accent-4" href="">Titolo</a></th>
                        <th><a class="yellow-text text-accent-4" href="">Genere</a></th>
                        <th><a class="yellow-text text-accent-4" href="">Durata</a></th>
                        <th><a class="yellow-text text-accent-4" href="">Modifica&nbsp;<i class="mdi-action-help tooltipped" data-position="bottom" data-tooltip="Per visualizzare la trama e gli URL di locandina e trailer premi su modifica!"></i></a></th>
                        <th><a class="yellow-text text-accent-4" href="">Cancella</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="white-text" ng-repeat="f in ctrl.films track by $index">
                        <td>{{f.fid}}</td>
                        <td>{{f.title}}</td>
                        <td>{{f.genre}}</td>
                        <td>{{f.duration}}</td>
                        <td>
                            <a href="#admin/films/{{f.fid}}"><i class="yellow-text mdi-action-assignment"></i></a>
                        </td>
                        <td>
                            <a ng-click="ctrl.open_modal($index)" class="modal-trigger" data-target="modal_film_delete" href=""><i class="red-text mdi-action-delete"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="section center-align">
        <div class="row">
            <a class="btn waves-effect waves-light yellow accent-4 black-text" href="#admin/films/new">NUOVO FILM
                <i class="mdi-image-movie-creation"></i>
            </a>
        </div>
    </div>
</div>

<div id="modal_film_delete" class="modal">
    <div class="modal-content">
        <h4>Cancellazione Film</h4>
        <p>Sei sicuro di voler cancellare il seguente film??</p>
        <ul class="">
            <li><label for="modal_fid" class="left-align">Fid</label><div id="modal_fid">{{ctrl.tmpFilm.fid}}</div></li>
            <li><label for="modal_title" class="left-align">Titolo</label><div id="modal_title">{{ctrl.tmpFilm.title}}</div></li>
            <li><label for="modal_genre" class="left-align">Genere</label><div id="modal_genre">{{ctrl.tmpFilm.genre}}</div></li>
            <li><label for="modal_trailer" class="left-align">Trailer</label><div id="modal_trailer">{{ctrl.tmpFilm.trailer}}</div></li>
            <li><label for="modal_playbill" class="left-align">Locandina</label><div id="modal_playbill">{{ctrl.tmpFilm.playbill}}</div></li>
            <li><label for="modal_plot" class="left-align">Trama</label><div id="modal_plot">{{ctrl.tmpFilm.plot}}</div></li>
            <li><label for="modal_duration" class="left-align">Durata</label><div id="modal_duration">{{ctrl.tmpFilm.duration}}</div></li>
        </ul>
    </div>
    <div class="modal-footer">
        <a ng-click="ctrl.close_modal()" class="modal-action waves-effect waves-red waves-red btn-flat">RIFIUTA</a>
        <a ng-click="ctrl.deleteFilm(ctrl.tmpFilm); ctrl.close_modal();" class="modal-action waves-effect waves-green btn-flat">ACCETTA</a>
    </div>
</div>

<script>
    $('.tooltipped').tooltip({delay: 50});
</script>