<div class="row white-text">

    <div class="row">
        <div class="col s12 m12 l12 center-align">
            <h2 class="center-align yellow-text text-accent-4">Nuova Proiezione</h2>
        </div>
    </div>

    <div class="row center-align">
        <h6 id="plays_message">{{ctrl.status}}</h6>
    </div>

    <div class="row">
        <div class="center-align white-text">
            {{ctrl.newPlay | json}}
        </div>
    </div>

    <div class="row">
        <form class="col s12 offset-m2 m8 offset-l3 l6 center-align">
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    <select ng-model="ctrl.newPlay.fid">
                        <option disabled selected>Scegli un film</option>
                        <option class="grey darken-3 yellow-text text-accent-4" ng-repeat="film in ctrl.films track by $index" on-select-repeat ng-value="film.fid">{{film.title}}</option>
                    </select>
                    <label>Seleziona un film</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    <input id="theatre" type="number" class="validate" ng-model="ctrl.newPlay.rid">
                    <label for="theatre">Sala</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <input id="date" type="date" class="datepicker" ng-model="ctrl.newPlay.time">
                    <label class="active" for="time">Data</label>
                </div>
                <div class="input-field col s6 m6 l6">
                    <input id="time" type="time" ng-model="ctrl.newPlay.time">
                    <label class="active" for="time">Orario</label>
                </div>
            </div>

            <div class="section center-align">
                <div class="switch center-align">
                    <label>
                        2D
                        <input type="checkbox" ng-model="ctrl.newPlay_3d">
                        <span class="lever center-align"></span>
                        3D
                    </label>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <a class="btn-large waves-effect waves-light yellow accent-4 black-text" href="#admin/plays">INDIETRO
                    <i class="mdi-navigation-arrow-back left"></i>
                </a>
                <a class="btn-large waves-effect waves-light green white-text" href="" ng-click="ctrl.addPlay(ctrl.newPlay)">REGISTRA
                    <i class="mdi-maps-local-movies right"></i>
                </a>

            </div>

        </form>
    </div>
</div>
