<!-- stylesheet for the svg -->
<!--<link type="text/css" rel="stylesheet" href="../css/svg-theatre.css">-->

<div class="row white-text">
    <div class="col s12 m12 l12">
        <div class="row">
            <h2 class="yellow-text text-accent-4 center-align">Proiezioni</h2>
        </div>
    </div>

    <div class="row center-align">
        <h6 id="plays_message">{{ctrl.status}}</h6>
    </div>

    <!-- Corpo delle cose -->

    <!-- <div ng-show="ctrl.loading" class="center-align">
         <img src="../../img/popcorn.svg" class="popcorn" alt="Loading"/>
         <h3 class="yellow-text text-accent-4">Caricamento in corso...</h3>
     </div>-->

    <div class="row">
        <div class="col s12 m4 l4"> <!-- lista -->
            <!-- lista degli spettacoli da selezionare -->
            <div class="plays-list row grey darken-3">
                <div ng-repeat="day in playsByDate track by $index">
                    <h6 class="yellow-text text-accent-4">{{day.date | date:'EEEE, dd MMMM yyyy'}}</h6>
                    <ul>
                        <div ng-repeat="film in day.films track by $index">
                            <li class="col s12 m12 l12 card grey darken-4" style="padding: 5px 10px 5px 0px;" ng-repeat="play in film.plays track by $index" ng-class="{blue : ((ctrl.currentSelectedDate == $parent.$parent.$index) && (ctrl.currentSelectedFilm == $parent.$index) && (ctrl.currentSelectedPlay == $index)), grey : ((ctrl.currentSelectedDate != $parent.$parent.$index) || (ctrl.currentSelectedFilm != $parent.$index) || (ctrl.currentSelectedPlay != $index))}">
                                <div ng-click="ctrl.setCurrentPlay($parent.$parent.$index, $parent.$index, $index)">
                                    <div class="col s3 m2 l3 hide-on-med-only">
                                        <img class="responsive-img" ng-src="{{film.playbill}}" alt="locandina" />
                                    </div>
                                    <div class="col s8 m10 l8">
                                        <h6><b>{{film.title}} </b><i ng-show="play._3d" class="mdi-action-3d-rotation"></i></h6>
                                        <h6>Data: {{play.time | date:'dd/MM/yyyy, HH:mm'}}</h6>
                                        <h6>Sala: {{play.rid}}</h6>
                                        <h6>Posti liberi: {{play.free}}</h6>
                                    </div>
                                    <div class="col s1 m1 l1 center-align">
                                        <div class="row">

                                        </div>
                                        <div class="row">
                                            <a ng-click="ctrl.open_delete_modal($parent.$parent.$index, $parent.$index, $index)" class="modal-trigger" data-target="modal_deleteAgree" href=""><i class="red-text mdi-action-delete"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>

        </div>
        <div ng-hide="ctrl.mapLoaded" class="col s12 m8 l8 center-align">  <!-- caricamento mappa sala -->
            <div class="login-loader preloader-wrapper large active">
                <div class="spinner-layer spinner-blue-only spinner-white-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="ctrl.mapLoaded" class="col s12 m8 l8"> <!-- mappa -->
            <map o="ctrl.shared_obj"></map><!-- will be filled by js -->
        </div>
    </div>




    <div class="row center-align">
        <a class="btn waves-effect waves-light yellow accent-4 black-text" href="#admin/plays/new">NUOVA PROIEZIONE
            <i class="mdi-av-videocam"></i>
        </a>
    </div>
    <div class="row">

    </div>
</div>

<div id="modal_deleteAgree" class="modal">
    <div class="modal-content">
        <h4>Cancellazione Proiezione</h4>
        <p>Sei sicuro di voler cancellare la seguente proiezione?</p>
        <ul>
            <li><label for="modal_fid" class="left-align">Titolo</label><div id="modal_fid">{{ctrl.currentPlay.title}}</div></li>
            <li><label for="modal_time" class="left-align">Data e ora</label><div id="modal_time">{{ctrl.currentPlay.time | date:'dd/MM/yyyy, HH:mm'}}</div></li>
            <li><label for="modal_rid" class="left-align">Sala</label><div id="modal_rid">{{ctrl.currentPlay.rid}}</div></li>
        </ul>
    </div>
    <div class="modal-footer">
        <a ng-click="ctrl.close_delete_modal()" class="modal-action waves-effect waves-red waves-red btn-flat">RIFIUTA</a>
        <a ng-click="ctrl.deletePlay()" class="modal-action waves-effect waves-green btn-flat">ACCETTA</a>
    </div>
</div>
