<div class="row white-text">

    <div class="row">
        <div class="col s12 m12 l12">
            <h2 class="yellow-text text-accent-4 center-align">Prezzi</h2>
        </div>
    </div>

    <div class="row center-align">
        <div class="container">
            <!--
            <div class="center-align hide-on-large-only">
                <div class="row">
                    <span class="left-align">T = tipologia</span>
                    <span class="right-align">P = prezzo</span>
                </div>
                <div class="row">
                    <span class="left-align">M = modifica</span>
                    <span class="right-align">C = cancella</span>
                </div>
            </div>-->
            <table class="adminTable bordered responsive-table">
                <thead class="">
                <th class="yellow-text text-accent-4">Tipologia</th>
                <th class="yellow-text text-accent-4">Prezzo</th>
                <th class="yellow-text text-accent-4">Modifica</th>
                <th class="yellow-text text-accent-4">Cancella</th>
                </thead>
                <!--                <thead class="hide-on-large-only">
                                <th class="yellow-text text-accent-4">T</th>
                                <th class="yellow-text text-accent-4">P</th>
                                <th class="yellow-text text-accent-4">M</th>
                                <th class="yellow-text text-accent-4">C</th>
                                </thead>-->
                <tbody>
                <tr ng-repeat="price in ctrl.prices">
                    <td>{{price.type}}</td>
                    <td>{{price.price | currency:"€ "}}</td>
                    <td>
                        <a ng-click="ctrl.open_edit_modal(price)" class="modal-trigger"  data-target="modal_price_edit">
                            <i class="yellow-text mdi-editor-mode-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a ng-click="ctrl.open_delete_modal(price)"  class="modal-trigger" data-target="modal_price_delete">
                            <i class="mdi-action-delete red-text"></i> <!--Remove content -->
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="container">

            <div class="separator">
                <h4 class="yellow-text text-accent-4 center-align">Aggiungi nuova categoria</h4>
            </div>
            <form>
                <div class="input-field col s8">
                    <input id="Categoria" type="text" class="validate" ng-model="ctrl.newPrice.type">
                    <label for="Categoria">Nome Categoria</label>
                </div>
                <div class="input-field col s4">
                    <input id="Prezzo" type="number" class="validate" ng-model="ctrl.newPrice.price">
                    <label for="Prezzo">Prezzo</label>
                </div>

                <div class="section center-align">
                    <a class="btn waves-effect waves-light green white-text"
                       ng-click="ctrl.addPrice()" href="">AGGIUNGI
                        <i class="mdi-content-add right"></i>
                    </a>
                </div>
            </form>

        </div>
    </div>
</div>


<div id="modal_price_delete" class="modal">
    <div class="modal-content">
        <h4>Cancellazione Prezzo</h4>
        <p>Sei sicuro di voler cancellare la seguente categoria di prezzi?</p>
        <ul class="">
            <li><label for="modal_type" class="left-align">Categoria</label><div id="modal_type">{{ctrl.tmpPrice.type}}</div></li>
            <li><label for="modal_price" class="left-align">Prezzo</label><div id="modal_price">{{ctrl.tmpPrice.price | currency:"€ "}}</div></li>
        </ul>
    </div>
    <div class="modal-footer">
        <a ng-click="ctrl.close_delete_modal()" class="modal-action waves-effect waves-red waves-red btn-flat">RIFIUTA</a>
        <a ng-click="ctrl.deletePrice(ctrl.tmpPrice); ctrl.close_delete_modal();" class="modal-action waves-effect waves-green btn-flat">ACCETTA</a>
    </div>
</div>

<div id="modal_price_edit" class="modal">
    <div class="modal-content">
        <h4>Modifica Prezzo</h4>
        <form>
            <div class="row">
                <div class="input-field">
                    <input id="cat" type="text" class="validate" ng-model="ctrl.tmpPrice.type" disabled>
                    <label for="cat" class="active">Nome Categoria</label>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="input-field">
                        <input id="price" type="number" class="validate" ng-model="ctrl.tmpPrice.price">
                        <label for="price" class="active">Prezzo</label>
                    </div>
                </div>
            </div>
        </form>
        <div class="row center-align">
            <h6 class="red-text">{{ctrl.error_msg}}</h6>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="ctrl.close_edit_modal()" class="modal-action waves-effect waves-red waves-red btn-flat">ANNULLA</a>
        <a ng-click="ctrl.editPrice(ctrl.tmpPrice)" class="modal-action waves-effect waves-green btn-flat">MODIFICA</a>
    </div>
</div>