<!-- stylesheet for the svg -->
<link type="text/css" rel="stylesheet" href="../css/svg-theatre.css">

<div class="row white-text">

    <div class="row">
        <div class="col s12 m12 l12 center-align">
            <h2 class="center-align yellow-text text-accent-4">Sale</h2>
        </div>
    </div>

    <!-- Contenuto della pagina sale -->
    <div class="col s12 m4 l4"> <!-- lista -->
        <div class="row">
            <!-- lista degli spettacoli da selezionare -->
            <ul class="row grey darken-3" style="padding: 1em; border-radius: 2px;">
                <li class="col s12 m12 l12 card grey darken-4" style="padding: 5px;" ng-repeat="room in ctrl.rooms track by $index"  ng-class="{blue : ctrl.currentSelected == $index, grey : ctrl.currentSelected != $index}">
                    <div class="col s11 m11 l11 center-align" ng-click="ctrl.setCurrentRoom($index)">
                        <h5><b>SALA {{room.rid}}</b></h5>
                    </div>
                    <div class="col s1 m1 l1 center-align">
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">

        </div>
        <div class="row center-align">
            <a class="btn green waves-effect waves-light" href="#admin/rooms/new_room">NUOVA STANZA
                <i class="mdi-action-home"></i>
            </a>
        </div>
    </div>
    <div class="col s12 m8 l8"> <!-- mappa -->
        <map o="ctrl.shared_obj"></map><!-- will be filled by js -->
    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>
</div>