<div class="row white-text">

    <div class="row">
        <div class="col s12 m12 l12 center-align">
            <h2 class="center-align yellow-text text-accent-4">Statistiche</h2>
        </div>
    </div>

    <!-- Contenuto della pagina stat -->

    <div class="row">
        <div class=" section center-align">
            <a class="btn-large waves-effect waves-light yellow accent-4 black-text" href="#admin">
                <i class="mdi-action-home"></i>
            </a>
        </div>
    </div>
</div>