<div class="row white-text">

    <div class="row">
        <div class="col s12 m12 l12 center-align">
            <h2 class="center-align yellow-text text-accent-4">Statistiche</h2>
        </div>
    </div>

    <div class="row">
        <h5 class="red">{{ctrl.error}}</h5>
    </div>

    <!-- Contenuto della pagina stat -->
    <div class="row container">
        <div class="col s12 offest-m1 m10 offset-l2 l8">
            <div class="card">
                <div class="card-content center-align">
                    <span class="card-title grey-text text-darken-4">Riepilogo incassi per film (in €)</span>
                </div>
                <div class="card-image center-align">
                    <canvas id="filmsIncome" height="400px"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col s12 offest-m1 m10 offset-l2 l8">
            <div class="card">
                <div class="card-content center-align">
                    <span class="card-title grey-text text-darken-4">Riepilogo acquisti per clienti (in €)</span>
                </div>
                <div class="card-image center-align">
                    <canvas id="topClients" height="400px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
