<div class="row white-text">

    <div class="row">
        <div class="col s12 m12 l12 center-align">
            <h2 class="center-align yellow-text text-accent-4">Statistiche</h2>
        </div>
    </div>

    <!-- Contenuto della pagina stat -->

    <div class="row">
        <div class="col s12 offset-m1 m5 offset-l1 l3">
            <div class="card">
                <div class="card-image">
                    <canvas id="scheduleSoldSeatsStats"></canvas>
                    <span class="card-title">lista dei posti venduti per ciascuna programmazione</span>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <canvas id="filmsIncome" ></canvas>
                    <span class="card-title">lista incassi per film</span>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <canvas id="topClients" ></canvas>
                    <span class="card-title">lista clienti top</span>
                </div>
            </div>
        </div>
    </div>

</div>