<div class="row white-text">
    <div class="row">
        <div class="col s12 m12 l12 center-align">
            <h2 class="center-align yellow-text text-accent-4">Utenti</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <div ng-show="ctrl.loading" class="center-align">
                <img src="../../img/popcorn.svg" class="popcorn" alt="Loading"/>
                <h3 class="yellow-text text-accent-4">Caricamento in corso...</h3>
            </div>
            <div ng-hide="ctrl.loading">
                <table class="bordered center-align">
                    <thead>
                    <tr>
                        <td><a class="yellow-text text-accent-4" href="" ng-click="ctrl.setOrder('uid')">Id</a></td>
                        <td><a class="yellow-text text-accent-4" href="" ng-click="ctrl.setOrder('email')">Email</a></td>
                        <td><a class="yellow-text text-accent-4" href="" ng-click="ctrl.setOrder('firstName')">Nome</a></td>
                        <td><a class="yellow-text text-accent-4" href="" ng-click="ctrl.setOrder('secondName')">Cognome</a></td>
                        <td><a class="yellow-text text-accent-4" href="" ng-click="ctrl.setOrder('credit')">Credito</a></td>
                        <td><a class="yellow-text text-accent-4" href="" ng-click="ctrl.setOrder('enabled')">Confermato</a></td>
                        <td><a class="yellow-text text-accent-4" href="" ng-click="ctrl.setOrder('enabled')">Cancella</a></td>
                        <td><a class="yellow-text text-accent-4" href="" ng-click="ctrl.setOrder('enabled')">Modifica</a></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="white-text" ng-repeat="u in ctrl.users track by $index | orderBy:ctrl.order:ctrl.reverse">
                        <td>{{u.uid}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.firstName}}</td>
                        <td>{{u.secondName}}</td>
                        <td>{{u.credit}} €</td>
                        <td>{{u.enabled}}</td>
                        <td>
                            <a ng-click="ctrl.open_delete_modal($index)" class="modal-trigger" data-target="modal_deleteAgree" href="">
                                <i class="red-text mdi-action-delete"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#admin/users/{{u.uid}}">
                                <i class="yellow-text mdi-action-assignment"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="section center-align">
                <div class="row">
                    <a class="btn green white-text waves-effect waves-light"
                       ng-click="ctrl.loadUsers()">RELOAD
                        <i class="mdi-navigation-refresh"></i>
                    </a>
                    <a class="btn green white-text waves-effect waves-light"
                       ng-click="ctrl.editUser(ctrl.users[0])">EDIT EXAMPLE
                        <i class="mdi-editor-mode-edit"></i>
                    </a>
                    <a class="btn waves-effect waves-light yellow accent-4 black-text" href="#admin/users/new">NUOVO UTENTE
                        <i class="mdi-social-person-add"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="modal_deleteAgree" class="modal">
    <div class="modal-content">
        <h4>Cancellazione Utente</h4>
        <p>Sei sicuro di voler cancellare il seguente utente?</p>
        <ul class="">
            <li><label for="modal_uid" class="left-align">Uid</label><div id="modal_uid">{{ctrl.tmpUser.uid}}</div></li>
            <li><label for="modal_email" class="left-align">Email</label><div id="modal_email">{{ctrl.tmpUser.email}}</div></li>
            <li><label for="modal_firstName" class="left-align">Nome</label><div id="modal_firstName">{{ctrl.tmpUser.firstName}}</div></li>
            <li><label for="modal_secondName" class="left-align">Cognome</label><div id="modal_secondName">{{ctrl.tmpUser.secondName}}</div></li>
            <li><label for="modal_currency" class="left-align">Credito</label><div id="modal_currency">{{ctrl.tmpUser.credit | currency:"€"}}</div></li>
            <li><label for="modal_enabled" class="left-align">Abilitazione</label><div id="modal_enabled">{{ctrl.tmpUser.enabled}}</div></li>
        </ul>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red waves-red btn-flat">RIFIUTA</a>
        <a ng-click="ctrl.deleteUser(ctrl.tmpUser)" class="modal-action modal-close waves-effect waves-green btn-flat">ACCETTA</a>
    </div>
</div>