<div class="row">
    <h4 class="center-align yellow-text text-accent-4">Utenti</h4>
</div>
<div class="row">
    <div class="col offset-s1 s10">
        <p ng-show="ctrl.loading">Loading...</p>

        <div ng-hide="ctrl.loading">
            <table class="bordered">
                <thead>
                <tr>
                    <th>uid</th>
                    <th>Email</th>
                    <th>FirstName</th>
                    <th>SecondName</th>
                    <th>Credit</th>
                    <th>Confirmed</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="u in ctrl.users">
                    <td>{{u.uid}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.firstName}}</td>
                    <td>{{u.secondName}}</td>
                    <td>{{u.credit}}</td>
                    <td>{{u.enabled}}</td>
                    <td>
                        <button ng-click="ctrl.deleteUser(u)">X</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row">
                <button class="col offset-s2 s3 btn-large green white-text waves-effect waves-light"
                        ng-click="ctrl.loadUsers()">Reload
                </button>
                <button class="col offset-s2 s3 btn-large green white-text waves-effect waves-light"
                        ng-click="ctrl.editUser(ctrl.users[0])">EDIT example
                </button>
            </div>

            <div class="row">
                <form class="col s12 offset-m2 m8 offset-l3 l6">

                    <h2>Nuovo</h2>

                    <div class="row">
                        <div class="input-field">
                            <input id="name" type="text" class="validate" ng-model="ctrl.newUser.firstName">
                            <label for="name">Nome</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="surname" type="text" class="validate" ng-model="ctrl.newUser.secondName">
                            <label for="surname">Cognome</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" ng-model="ctrl.newUser.email">
                            <label for="email">Email</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" ng-model="ctrl.newUser.password">
                            <label for="password">Password</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="credit" type="number" class="validate" ng-model="ctrl.newUser.credit">
                            <label for="credit">Credito</label>
                        </div>
                    </div>

                    <p>Aggiungere ruolo!</p>
                    <p>Aggiungere gli altri campi</p>

                    <button class="btn waves-effect waves-light offset-s3 col s6 yellow accent-4 black-text"
                            ng-click="ctrl.addUser()">Registrati
                        <i class="mdi-action-description left"></i>
                    </button>
                </form>

            </div>
        </div>
    </div>
